[2013-11-27 19:25] woloski opened #6 "throw a nicer error when the configuration is wrong"
right now is throwing an object reference exception

[2014-04-24 11:35] nicosabena opened #9 "Support the "scope" option when calling /delegation."
The /delegation api (https://docs.auth0.com/auth-api#post--delegation) supports the "scope" option to indicate the type of id token you are looking for.
Right now the GetDelegationToken() method in the API is not giving any way of providing this option.
[code]

[2014-08-27 23:06] nicosabena opened #21 "Users should not be forced to provide clientSecret to do an active login."
The LoginUser method (https://github.com/auth0/auth0.net/blob/master/Auth0.Net/Client.cs#L493) is an instance method of the Client class, and thus requires the user to provide a clientSecret to create the client instance.
However, the active login endpoint (https://docs.auth0.com/auth-api#!#post--oauth-ro) does not require a clientSecret or token, so an user should be able to reach it providing on

[2014-12-22 15:55] eugeniop opened #29 "Add search across all connections"
https://auth0.com/docs/api#!#get--api-users-search--criteria-

[2015-01-14 14:47] sandrinodimattia opened #30 "Add support for the verification_ticket endpoint"
When sending out custom verification emails (eg: I generate my own mail and send it out with SendGrid) we need a way to have the email address verified in Auth0. The API exposes the verification_ticket endpoint which generates an url that can confirm the email address. This endpoint is not available in the .NET SDK.

Docs: https://auth0.com/docs/api#!#post--api-users--user_id--verification_ticket

[2015-02-02 19:33] #21 closed

[2015-02-19 13:01] sandrinodimattia opened #34 "Support calling the /user/password endpoint with an email address instead of an id"
In the scenario where we have a Google account (primary) which has a linked database account we cant use the `/api/users/user_id/password` endpoint.

For those scenarios we want to pass the email address in the body and use the following endpoint: https://auth0.com/docs/api#!#put--api-users--email--password

[2015-02-25 13:24] #34 closed

[2015-06-30 16:54] twistedstream opened #40 "Client.ExchangeAuthorizationCodePerAccessToken throws OAuthException in .NET 3.5"
For whatever reason this code runs fine in .NET 4.5, but when using the `Auth0.Net` library in a .NET 3.5 project, the following exception is thrown when you call the `ExchangeAuthorizationCodePerAccessToken` method of the `Client` object (i.e. in your `LoginCallback.ashx.cs`):

[code]

![ysod](https://cloud.githubusercontent.com/assets/3535918/8436009/99d2dd90-1f1a-11e5-8793-aca1001e51aa.png)

Th

[2015-06-30 21:25] #40 closed

[2015-10-08 23:43] darbio opened #44 "Update client for v2 of the API"
The client currently consumes v1 of the api. It should be updated to support v2.

[2015-10-26 01:42] jerriep opened #45 "Maintaining backwards compatibility in V2"
I had a brief look into maintaining backwards compatibility with V1 of the .NET Client when doing V2, but in the 30 minutes I spent I found a number of issues. Here are some of them:

* Right now the Client class is used for the API client, and there seems to be no classes to represent an actual Client as described in the API (https://auth0.com/docs/api/v2#!/Clients/get_clients). So I would like t

[2015-10-26 04:21] sandrinodimattia commented on #45
So, first I don't think we should maintain backwards compatibility at all. APIv2 is our opportunity of doing something better with our client for .NET. I would not create a new NuGet package for this, simply apply semver and change the version from 1.4.0 to 2.0.0

The GitHub client for .NET is a great design for an API client, so nothing agains using that same design for our own API client. Now I

[2015-10-26 04:49] jerriep commented on #45
Great, I will wait for Robert's feedback. Can we tag him in this?

As far as having both async and non-async methods; is there a specific reason you want non-async methods?

HttpClient, which I believe is the correct library to use if we want full PCL compatibility, does not support non-async methods.

Furthermore I was speaking with @ntotten to use Refit (https://github.com/paulcbetts/refit) for

[2015-10-27 18:50] ntotten commented on #45
@advancedrei Any feedback on this?

[2015-10-27 20:25] advancedrei commented on #45
Thanks for including me in this process. I'm genuinely honored that you guys value my opinion, and I'm happy to be a part of this.

So there's a lot that was brought up in this thread, but I'll try to tackle as much as I can. I have done quite a bit of work prototyping a new version, and I'll cover that towards the end.

**Backwards compatibility:** That's not going to be possible IMHO. The design

[2015-10-27 21:27] ntotten commented on #45
This is great. Thanks @advancedrei.

I completely agree about the structure of the .NET nugets and project. I think we should step back and look at all of our .NET libraries. I am completely in favor of getting rid of all the specific NuGet packages like `Auth0.Windows.Cs`. I think we can use the platform features of NuGet to move most of these into a single `Auth0` package.

Here are the repos we

[2015-10-27 21:29] ntotten commented on #45
I think that we can basically get our nuget packages down to:

`Auth0`
`Auth0.Web`
`Auth0.Web.Owin`
`Auth0.Windows`

[2015-10-27 22:31] advancedrei commented on #45
Maybe. I don't know if it will be able to be that simple. It all depends on what makes sense from a dependency standpoint.

[2015-10-27 23:37] ntotten commented on #45
:+1:

[2015-10-27 23:38] ntotten commented on #45
@jerriep Is in Thailand so I'll let him suggest a time first.

[2015-10-28 00:18] jerriep commented on #45
I am on the time zone UTC+7, and available anytime from let's say 6:30 AM until around midnight. I do not have any other meeting set up for the next couple of days, so anytime you suggest in that time range should be fine.

[2015-10-28 00:48] jerriep commented on #45
Yeah this is a valid point, but remember that the use of Refit will be hidden from the end-user of our library. It is something I will need to concern myself with (as the author of the library), but they would not even know about it.

I have not used PortableRest before but I am completely open to using that as well, instead of Refit. All I am looking for is something which makes it easier to wrap

[2015-10-28 22:30] advancedrei commented on #45
How about 9am PST Monday morning? That would be noon EST and 11pm ICT?

[2015-10-28 23:09] jerriep commented on #45
Yes, this will be fine for me

[2015-10-29 17:42] sandrinodimattia commented on #45
Hey guys, please also take time to think about SharePoint :)

Our Claims Provider is now using `auth0.net` to call API v1. Maybe it's enough to have it use the new libraries, but we still have customers on SP2010 (.NET 3.5), so we need to find a good solution for them too.

[2015-10-29 18:15] advancedrei commented on #45
I don't know if that is going to be possible with a new HttpClient-based codebase. There may be a possibility to create a separate, self-contained version just for that, but there may need to be some investigation around what is holding them back from upgrading to newer versions of SharePoint, what features they want to use from the new APIs, etc. If only 5 clients are on SP2010, then I don't thin

[2015-10-29 23:04] sandrinodimattia commented on #45
I think that would be the best approach. It's not only a SharePoint problem, we might also have customers that are just on .NET 3.5 with ASP.NET Web Forms. So if we could give them a way to use something like RestSharp instead of the new HttpClient base that would be great.

And about the async part, I think we should still support thin sync wrappers around the async methods for our customers who

[2015-10-29 23:32] advancedrei commented on #45
RE: Sharepoint, etc - I'm not usually a huge fan of Interfaces outside of DI scenarios, mostly because I think people spend too much time testing the wrong things, and not enough time testing others, or too much time making unnecessary things pluggable. But in this case, an IAuth0RestClient interface would let us make sure people have a seamless upgrade path between Framework versions regardless o

[2015-10-30 01:23] jerriep commented on #45
Great, we can talk this through in more detail on Monday. How do you want to do the call on Monday @advancedrei ?

[2015-11-03 01:09] sandrinodimattia commented on #45
Can someone post a short summary of the call here?

BTW, something interesting to go through in regard to PCL/UAP: https://github.com/davidfowl/aspnetvnextwebapiapp/blob/master/Generations.md

[2015-11-03 02:46] jerriep commented on #45
Here you go:

* As far as the Sync / Async issue is concerned, we decided to keep the library forward looking and stick with async. Using the Microsoft.Bcl.Async package, this means we can support framework versions as far back as 4.0.
* Where people want sync calls (in the more modern .NET versions), we can investigate at a later stage to make sync extension methods available. This would be opt-i

[2015-11-03 06:01] advancedrei commented on #45
Yep, that covered it.

As an aside, I'm leaving this here for reference later: with ASP.NET 5, we may not need to dig that deep into an Auth0 integration: https://github.com/aspnet/Security/issues/537

[2015-11-10 13:27] jerriep commented on #45
An early version of the new Management API is available at https://github.com/jerriep/auth0.net/tree/V2

I have only implemented the API methods to manage clients, but it should give you an idea of the general direction I am moving in. Still a lot of work to be done, but feedback is welcome if you guys are worried about the current approach.

To get an idea of how the API will be used, you can loo

[2015-11-10 23:33] ntotten commented on #45
@jerriep this is looking very good. I like the approach. Very clean.

[2015-11-12 06:20] advancedrei commented on #45
So, I wasn't sure how the apiClient.Group.XXXAsync was going to work out, but I like it. Great work so far.

The only problem that I see so far is that people are going to name their `RestClient` variable `"auth0Client"` or `"client"` or something like that, and `client.Clients` is misleading/not intuitive as to what it could represent. I understand that the actual API stack is not likely to chang

[2015-11-12 06:39] jerriep commented on #45
I have Resharper, so renaming things are easy for me ;)

I am very open to a naming convention which makes better sense.

[2015-11-13 04:22] advancedrei commented on #45
The `___.Clients.___` naming should match the REST endpoints. I just don't know if the endpoints have the right names. But this IS the management API, so fewer people will use it.

[2015-11-13 04:28] jerriep commented on #45
I match it up as it is in the documentation (and API Explorer):
![image](https://cloud.githubusercontent.com/assets/1006420/11138796/881fa692-89f9-11e5-9052-05ddf0b3830b.png)

This (for the most part) matches up with the endpoints.

Was yours just a general comment of principal, or are you referring to specific instances where it does not?

[2015-11-13 04:56] ntotten commented on #45
We should match the REST API names. We won't be changing them any time
soon. :)
On Thu, Nov 12, 2015 at 8:28 PM Jerrie Pelser <notifications@github.com>
wrote:

[2015-11-13 04:57] jerriep commented on #45
@advancedrei BTW, is it possible to do multipart/form-data with PortableRest?

For example for import users job (https://auth0.com/docs/api/v2#!/Jobs/post_users_imports) I need to do that...

[2015-11-13 04:58] jerriep commented on #45
@ntotten Sure. Like I said they match up for the most part, with the exception of the Emails one (AFAIK), where the endpoint is /emails/provider, so I'll change it to `EmailsProviderClient`

[2015-11-13 05:38] advancedrei commented on #45
@jerriep I don't believe it does it right this second, but I'm fairly certain there is a PR for is that I can get integrated sometime this weekend.

[2015-11-13 05:50] jerriep commented on #45
Yes indeed :)
https://github.com/advancedrei/PortableRest/pull/53

Whenever you get a chance over the next week or so would be good, thanks

[2015-11-16 03:41] advancedrei commented on #45
Update your PortableRest to 3.1.0-Beta2 and let me know if the new functionality works for you.

Thanks!

[2015-11-16 03:47] jerriep commented on #45
Thank you @advancedrei ! Will get back around to that particular code later today (or tomorrow). Will let you know if I have any issues

[2015-11-16 06:21] jerriep commented on #45
@advancedrei I'm running into some issues. Will open issue on your PortableRest repo

[2015-11-17 03:20] jerriep commented on #45
@ntotten I have reached the point in V2 where I have full coverage of the Management API. There is still a number of outstanding issues, but I want to find out whether I can do a PR and get the existing work into this repo (even if under a V2 branch), so I can start getting input from everyone?

[2015-11-20 13:44] ntotten opened #51 "Encoding issue when username has "+""
If string username has a "+" in it, the NestSharp Library method ParameterType.GetOrPost url encodes the "+" as %2B

It would appear that /oauth/ro converts %2B to single spaces ' ' in the username of the account created.

/oauth/ro has no problem creating accounts with usernames containing "+" signs... it's the url encoding of the username that causes the issue.

You can find the code here: https

[2015-11-20 14:32] jimlambrt-roadscholar commented on #9
Just a comment: supporting scope as a parameter is extremely important.  We load authorization claims into the app_metadata for each user.   Without app_metadata in the scope, we would have to go back to auth0 endpoints during authen/auth and add more than 1.5 secs to every request.

[2015-11-26 08:07] jerriep commented on #45
@advancedrei BTW, I have a nice new problem for you:
https://github.com/advancedrei/PortableRest/issues/58

[2015-11-26 16:46] advancedrei commented on #45
On it.

So I'm wanting to contribute some stuff to the Core, so I can take a dependency on it and not the custom version of V1 that I currently have to maintain. I wanted to find out what the rationale is for having some objects in the root folder, and some objects under "Models".

I think there is some merit to separating objects that are core to Auth0, and objects that are specific to constructi

[2015-11-26 23:35] jerriep commented on #45
The stuff in the root are still left overs which I brought in from your initial work. The are related to the Auth API, so I left them in until I get around to actually doing the Auth API. Whatever is left after that will be cleaned out.

The xxxCreateRequest are also models though. The thing is that the model passed when creating or updating many time contains less (or more) fields that the actual

[2015-11-27 02:46] advancedrei commented on #45
I think you are being too literal with the word "model". Any object that doesn't have methods could be considered a model, that doesn't mean we need to be explicit about burying them in a "Models" namespace.

The way you are delineating base objects vs request-specific objects makes sense. But from an organizational standpoint, it may make sense to move anything that has the "Request" suffix, and

[2015-11-27 02:53] jerriep commented on #45
OK, I got you on the Request stuff. I can certainly move those to the Management API project.

Regarding the contributions, I am also creating an Auth API project right now and starting to work on that, so if you also submit a Auth API project via another PR project we are going to trip over each other, so please just hang on a week or two until I am done with it.

Contributions to the Core projec

[2015-11-27 03:12] jerriep commented on #45
Is the stuff you are talking about in your https://github.com/advancedrei/Auth0.Portable project?

If so, then I can just grab it from there and integrate into the work I am doing. If you can just point out the specific items.

[2015-11-27 03:51] advancedrei commented on #45
The stuff from there you already pulled into the main project. What I was adding was stuff from a PR that was not accepted a long time ago.

I don't want to trip you up, but there has to be a way to be able to make it work. If you could maybe think about working in smaller increments, I'd like to be able to contribute too. I have additional properties and documentation that I would like to get wor

[2015-11-27 03:56] jerriep commented on #45
OK, let's do it this way:

* I will create a PR just now with the Auth project added, so it is available for both of us to work on.
* You can then let me know which API endpoints it is that you are working on, and I will stay clear of those.

Can this work for you? :)

[2015-11-27 04:19] advancedrei commented on #45
That works, thanks man. I really appreciate it.

I wasn't really thinking about specific endpoints, just so you know. You're doing great work there, and I don't want to mess with it. I was more about how the plumbing you already wrote in the Management library could be reused to minimize duplicate code. Was also trying to work out the Windows10/.NET 4.6-related issues with PortableRest, and how th

[2015-11-27 04:33] jerriep commented on #45
Cool, thanks Robert :) It is not critical right now (I assume you have Thanksgiving responsibilities), but we will need to get it sorted in the next few weeks if we want to generate working Nuget packages.

[2015-11-27 23:06] advancedrei opened #56 "Repo needs a "V2" milestone for issues"
Would be nice if collaborators could tag issues with "v2" and statuses like "bug", "feature request", etc.

[2015-11-27 23:07] advancedrei commented on #44
Just wanted to let you know that this work is in progress, and we'll let you know when there is something available for you to try out. Thanks!

[2015-11-28 00:00] advancedrei opened #57 "Handle extra data returned from user profiles"
Auth0's APIs don't presently have a way to delineate information that has been "normalized" from the rest of the properties returned from specific login providers. This means that the User payload from a Google login is vastly different from the User payload for a LinkedIn login.

This is going to create a problem for the .NET API, as the present V2 techniques will not make that data available to

[2015-11-28 01:13] advancedrei opened #58 "V2 API Issue: Inconsistent object property naming"
I'm creating this issue to track Auth0's exposed API members that do not appear to adhere to the naming convention of property names in all lowercase with a space separating words.

**V2 API:**
- user.identity.isSocial

**Rules API:**
- user.clientID
- context.clientID
- context.clientName
- context.connectionStrategy
- context.samlConfiguration
- context.jwtConfiguration
- context.stats.loginsCou

[2015-11-28 02:05] jerriep commented on #58
Another inconsistency I noticed was the IDs. Sometimes it will be <object>ID, (e.g. ClientID), other times it will just be ID.

Not sure how much they can do about this now though. It will be breaking changes.

[2015-11-28 02:33] advancedrei commented on #45
@jerriep How did you have two active PRs at once? The last time I tried to do that, it added my later check-ins into the first PR. Thanks!

[2015-11-28 03:04] jerriep commented on #45
You should have 2 different branches to do that.

It the work of the second branch is however based on the work from the first branch, you may as well just keep it in one branch, because then the PR for branch 2 will also contain the same changes as the PR for branch 1.

[2015-11-28 03:13] advancedrei commented on #45
Ah. I think I'll just wait then. If you have a chance to give your OK on the PR I sent over, I'll ping Nathan to check it out, then queue up the next one. :)

[2015-12-01 06:55] jerriep commented on #57
@advancedrei I am busy looking into this one and want to test the different scenarios. I am thinking of making use of a `dynamic` object.

Can you please tell me the API endpoints (or flow of API endpoints) you are referring to specifically?

[2015-12-10 07:30] jerriep commented on #45
I want to bring up the issue regarding documentation again. I am busy going through the project and ensuring that XML documents are everywhere.

Regarding producing a physical help file - what is the use case for this? I think very few developers will ever look at that, or even know that it is there. Or is the idea to produce documentation and then host it on a website somewhere?

if so, do we not

[2015-12-10 07:33] jerriep commented on #56
@ntotten Can you please create this milestone?

Also, I would like to have access to the repo to be able to assign milestones and labels to issues, so I can get all the outstanding issues created and manage them.

[2015-12-10 22:55] ntotten commented on #56
@jerriep I created the milestone and gave you write access so you can manage issues, etc.

[2015-12-10 22:55] #56 closed

[2015-12-10 23:47] jerriep commented on #56
:+1:

[2015-12-11 06:14] jerriep commented on #57
Currently this is not implemented. `dynamic` won't really work because we cannot make the entire class `dynamic`. It was previously suggested that ExpandoObject was used before. This needs more investigation.

[2015-12-11 06:18] jerriep opened #62 "Configure build and deployment of Release versions"
CI is set up on AppVeyor to create CI builds and publish Nuget packages to AppVeyor hosted feed. This needs to be expanded for release versions to publish to the official Nuget feed.

Some thoughts:
1. Should this be handled on different branches? Probably...
2. Do we really want to publish automatically to Nuget? One thing that comes to mind is that the project consists of 3 packages, Core, Auth

[2015-12-11 06:37] jerriep opened #63 "XML docs for ResourceServer class"
Need some assistance with proper documentation of this class:

    public class ResourceServer
    {
        [JsonProperty("identifier")]
        public string Identifier { get; set; }

        [JsonProperty("scopes")]
        public string[] Scopes { get; set; }
    }

https://github.com/auth0/auth0.net/blob/v2/src/Auth0.Core/ResourceServer.cs

This is returned with the Client API calls

[2015-12-14 21:42] advancedrei commented on #62
IMHO, I don't think you should publish automatically to NuGet. Publishing to internal feeds and/or pre-release builds is one thing, but you want to have a human gating releases to the public.

[2015-12-17 09:23] jamestoyer commented on #45
Would it be possible to host the documentation using Github pages? Then on every release automatically updating that. Surely that would keep it as up to date as possible

[2015-12-17 09:29] jamestoyer commented on #45
Also, and I guess this is a side point, is it worth this being and "ASP.Net 5" project? I mean would it be worth getting that sorted now such that while it won't support CoreCLR, it would support .Net 4.5+ and cross target more easily. This does effectively means that the pre .Net 4.5 requisite is lost.

I only say this as I'm starting to write ASP.Net 5 web apps, and would at some point like to e

[2015-12-17 20:16] ntotten commented on #45
@jamestoyer We will be publishing the docs to auth0.com/docs autoamtically when we push a release.

[2015-12-17 20:19] ntotten commented on #45
@jamestoyer I don't quite understand what you mean about it being an ASP.NET 5 project. We are targeting PCL because the library is used on many different platforms like windows 10, asp.net, xamarin, etc. I am not sure what the status of CoreCLR is or exactly what we would gain by targeting it, but we can probably explore it in the future. Right now we are very close to pushing this release out so

[2015-12-21 12:40] jamestoyer commented on #45
@ntotten What I mean is the new project structure style, whereby `.csproj` files are replace with `project.json` files that allow you to target multiple frameworks, including the [CoreCLR](https://github.com/dotnet/coreclr).

The CoreCLR target would allow people who which to host applications on Linux, or OSX, as well as Windows. It's more about the idea of being cross platform. As far as I'm awa

[2015-12-21 15:41] advancedrei commented on #45
Having everything be portable is laying the groundwork for CoreCLR support. There are so many platforms the .NET SDK needs to support, and there was a conscious decision initially to have Auth0's SDK only run on currently-supported platforms. More work will be done later to support other stuff (like integrating with ASP.NET in general) after the core stuff gets out the door. HTH!

[2015-12-21 18:19] ntotten commented on #45
What Robert said. :)

[2015-12-21 18:36] jamestoyer commented on #45
Cool. I guess I'll just have to wait a little longer use Auth0 and ASP.Net 5 on Linux :stuck_out_tongue_winking_eye:

[2015-12-21 19:20] advancedrei commented on #45
@jamestoyer It won't be too much longer. Likely very near to ASP.NET 5 RTM.

[2015-12-21 21:42] sandrinodimattia commented on #45
And just to clarify, you can already use Auth0 for authentication in ASP.NET 5 applications (both API and MVC applications): https://github.com/auth0/auth0-aspnet5/tree/master/examples

[2016-01-04 07:15] jerriep commented on #58
@ntotten This is more related to the actual API than it is to the .NET SDK. Not sure how you want to handle this as any change made to this now will be a breaking change.

@advancedrei What is the Rules API? Can you point me to some docs? Is this something which should be included in the .NET SDK?

[2016-01-04 07:28] jerriep opened #69 "Provide access to token endpoint"
Provide access to the token endpoint (`/token`) to allow user to exchange OAuth code issued during OAuth authentication for an access token

https://github.com/auth0/auth0-aspnet-owin/blob/master/Auth0.Owin/Auth0AuthenticationHandler.cs#L22

[2016-01-04 07:30] jerriep opened #70 "Allow management of resource servers"
[code]

[2016-01-04 07:33] jerriep commented on #70
This is currently not documented in management API docs (https://auth0.com/docs/api/v2)

@sandrinodimattia, some questions:

1. Where can I get more documentation on this method?
2. Are there any other methods related to resource servers I should cover?
3. Where in the actual dashboard can I see/manage resource servers, or is this a pure API based thing?

[2016-01-04 07:39] jerriep opened #71 "Create Auth URL builder for second Auth URL"
https://github.com/auth0-customers/api-authn-authz/blob/master/user-consent/calendarapp-implicit-jquery/server.js#L27

More detail to follow once I have more clarity on what this URL must do...

[2016-01-04 07:43] jerriep opened #72 "Generate docs which can be integrated into website"
All the classes are documented using XML documentation comments. We need to ensure that proper documentation is generated from this in a format which can be integrated into the main Auth0 developer website.

[2016-01-04 08:36] jerriep opened #73 "Expand Tenants endpoint"
The current wrappers for the Tenants API only supports the GET and PATCH operations. There does seem to be more operations available which is not currently documented (e.g. POST). This needs to be expanded to include all the other available endpoints.

[2016-01-04 08:36] jerriep commented on #73
@ntotten Who can assist me with this information so I can write wrappers for the other operations as well?

[2016-01-04 08:42] jerriep opened #74 "Add support for impersonation in Auth API"
https://auth0.com/docs/auth-api#!#post--users--user_id--impersonate

[2016-01-04 08:43] jerriep opened #75 "Add support to Link / Unlink accounts through Auth API"
https://auth0.com/docs/auth-api#!#get--link

[2016-01-04 08:54] jerriep commented on #51
Tested with V2 and it works fine as parameters are passed in body as JSON instead of being passed as query string parameters.

[2016-01-04 08:56] jerriep commented on #71
In talking with @sandrinodimattia this API is still being built out. We will just hold on with this for a bit.

[2016-01-04 10:01] #51 closed

[2016-01-04 10:01] #69 closed

[2016-01-04 11:16] jerriep commented on #57
@ntotten I am looking into this and liking Option 2 which @advancedrei suggested above. I would however need to identify which properties are "standard" to a user and which properties are added by the specific services such as FB and Google.

Is there anyone on your side who can help me with this information?

[2016-01-04 14:10] jerriep commented on #72
@ntotten I have managed to use the Sandcastle Help File Builder to generate some test documentation. I generated it in HTML, but did not upload it anywhere for you to test.

Basically the style looks like the following:
http://ewsoftware.github.io/SHFB/html/bd1ddb51-1c4f-434f-bb1a-ce2135d3a909.htm

Not sure whether that is something you can live with, or whether we should look for a more modern so

[2016-01-05 18:44] advancedrei commented on #57
I think, in a perfect world, it would be much better to have provider-specific extended properties classes, that way everything would be strongly-typed, and you could know "Hey, this was a Facebook profile, so I can see which of my friends also use this app". The problem would be, what do di if you've linked multiple profiles together.

[2016-01-05 20:31] ntotten commented on #57
Details for profile are here: https://auth0.com/docs/user-profile#normalized-user-profile

There aren't too many standard fields. I wouldn't even try to provide a strongly typed object for any of the providers - that will be impossible to keep up with.

The object will look essentially like this.

[code]

[2016-01-05 23:00] advancedrei commented on #57
@ntotten That documentation is not accurate. I found fields that have wince been found to be consistent between providers. And it wouldn't be impossible to keep up with if done properly, like through code gen.

[2016-01-06 00:36] ntotten commented on #57
What is the issue with the docs? We need to get it fixed if it is wrong. :)

I suppose you are right if you used codegen you could generate some of the objects. However, some providers (Particularly enterprise ones, will always need to be more dynamic because we dont know what the fields might be).

My opinion is to do what we did with the Facebook C# SDK. Build it to be a flexible object by defau

[2016-01-06 06:58] jerriep commented on #57
Thank you for that link @ntotten

I agree that to try and keep up and tryining to stay in sync with the various OAuth services will be a nightmare.

The approach the ASP.NET OAuth providers took was to add the basic properties to the context returned after authorization, and then add the actual object returned from the provider as a `JObject`:
https://github.com/aspnet/Security/blob/7a23028527d6aa

[2016-01-07 17:32] jamestoyer opened #77 "Missing fields when creating users"
I've been looking through the code for creating users, and I've noticed an inconsistency with how you can create users on API v2 and the client library. The API supports adding a `given_name`, `family_name`, and `name`, but the Users client doesn't.

I'm aware the first three are on the API documentation, but they are allowable when using the API explorer. Is this something that's going to disappe

[2016-01-08 09:39] jerriep commented on #77
@jamestoyer It is possible that it was just overlooked by me.

Can you please send me more details regarding the endpoint (URL) on the API you are calling, as well as the payload (JSON) you are sending? I can then correlate this with the .NET client library and make adjustments as required.

[2016-01-08 10:15] jamestoyer commented on #77
Sure. I've used the payload on the endpoint below to create a user. This was done using the API explorer.

Endpoint: `POST /api/v2/users`
Payload:
[code]

As you'll notice, I've also gone ahead and checked that you could set the `nickname` property too.

Something else I noticed when using the API explorer is that if you don't require a username in the connection you're creating a user on, you sho

[2016-01-08 11:01] jerriep commented on #77
This is an oversight on my part.

I will fix this as part of #57

[2016-01-10 01:18] aguerere opened #79 "License file wrong name"
License should be called LICENSE instead of LICENSE.txt

[2016-01-11 11:33] jerriep commented on #62
Look into using AppVeyor "Deploy on Tag" feature:
https://www.appveyor.com/docs/deployment#deploy-on-tag-github-only

This way we can control deployment by tagging a release

[2016-01-11 11:36] jerriep opened #81 "Jobs test breaks build"
Code is correct. Should investigate why this message occurs...

![image](https://cloud.githubusercontent.com/assets/1006420/12232539/26498e22-b868-11e5-8672-31b7c9d0952b.png)

[2016-01-11 12:17] jamestoyer commented on #77
Everything works fine when creating a user on connection when a username isn't required. I now see your tests cover this scenario.

I've had to halt my re-integration however as the `blocked` field is missing on the core user. Would you like me to open a new issue about that or will it be wrapped up in #57?

[2016-01-11 12:26] jerriep opened #82 "Blocked property not available when getting users"
The `blocked` property should be available for reading when returning a list of users or a single user.

https://auth0.com/docs/api/v2#!/Users/get_users

[2016-01-11 12:29] jerriep commented on #77
@jamestoyer Thanks for reporting this

I have created #82

It is available when updating a user, but not when reading the user, so I will add it to the structure when returning a user from the API - either a single user or a list of users.

According to the API documentation this is the only 2 scenarios when this field should be available.

Will this solve your issue, is there another scenario whe

[2016-01-11 12:30] jerriep commented on #82
Do as part of #57

[2016-01-11 12:36] jamestoyer commented on #77
@jerriep Thanks. This would solve my issue.

I can't think of any other scenarios where I would need it

[2016-01-11 12:44] jerriep commented on #62
http://daveaglick.com/posts/deploying-a-public-nuget-package-from-scratch

[2016-01-11 12:44] jerriep commented on #62
http://www.codeproject.com/Tips/806257/Automating-NuGet-Package-Creation-using-AppVeyor

[2016-01-11 16:02] #74 closed

[2016-01-11 16:02] #75 closed

[2016-01-11 16:03] #79 closed

[2016-01-11 18:47] jerriep opened #84 "Header and footer on docs"
Header:
https://github.com/auth0/web-header

Footer should be the same as on https://auth0.com/docs

Style guide:
https://styleguide.auth0.com/

[2016-01-11 20:09] ntotten opened #85 "index.md in docs has absolute links"
All links should be relative as the site will be hosted on a subfolder on auth0.com/docs

[2016-01-11 22:41] ntotten opened #86 "Breadcrumbs on docs should be changed"
The breadcumbs should be rooted with Documentation.

Documentation > Auth0.net SDK > then subpages

Documenation should point to `/docs` the Auth0.NET SDK should point to the relative root of the generated site

[2016-01-11 22:48] ntotten opened #87 "Change docs output folder path in s3"
To match with the docs structure make the folder path:

`libraries/auth0.net/{version}/` instead of `sdks/auth0.net/{version}`

Also, delete the old files afterward.

[2016-01-12 08:25] #87 closed

[2016-01-12 08:26] jerriep commented on #87
![image](https://cloud.githubusercontent.com/assets/1006420/12258368/efccf03c-b916-11e5-80db-461409b9bdd3.png)

[2016-01-12 13:26] jerriep commented on #84
@ntotten Who would be able to assist me with getting the header working?

I have included the JS from the CDN, as well as the JS code in the sample on the web-header website, but I get a JS error about "require not defined". Please see screenshot below...

![image](https://cloud.githubusercontent.com/assets/1006420/12264605/9ea965a8-b940-11e5-9da5-d002c2cdebce.png)

[2016-01-12 17:33] ntotten commented on #84
@cristiandouce what's up with this? Require doesnt seem like it should be in the browser script.

[2016-01-13 11:11] jerriep commented on #77
@jamestoyer regarding the username; if the property is null it will not be serialized and therefor not sent in the JSON I send the the API. Does this resolve your concern regarding that?

[2016-01-13 11:15] jerriep commented on #77
@jamestoyer Also, the `family_name`, `given_name` and `name` properties are already available at the moment when returning a user. The names of the properties are however different; they are `LastName`, `FirstName` and `Fullname` respectively.

It is confusing, I know, but changing it now will result in a breaking change which I do not want to do.

I am moving these properties to the `UserBase` cl

[2016-01-13 12:09] jamestoyer commented on #77
Awesome, thank you.

I also prefer `FirstName`, `LastName` and `FullName`. In my opinion they make more sense than `given_name`, `family_name` and `name`.

[2016-01-14 00:54] darbio commented on #44
I see that this is now implemented :+1: closing

[2016-01-14 00:54] #44 closed

[2016-01-14 09:21] #85 closed

[2016-01-14 09:22] #82 closed

[2016-01-14 09:22] #77 closed

[2016-01-14 15:20] jerriep commented on #57
OK, so I have played around today trying a few possible solutions to this. In the process I have stumbled across a JSON.NET feature called the `JsonExtensionDataAttribute` (look at the sample towards the bottom of this document: http://www.newtonsoft.com/json/help/html/SerializationAttributes.htm)

What it allows us to do is to create a property on the `User` class and mark it with this attribute,

[2016-01-14 17:15] ntotten commented on #57
This looks great!
On Thu, Jan 14, 2016 at 7:20 AM Jerrie Pelser <notifications@github.com>
wrote:

[2016-01-14 17:26] advancedrei commented on #57
I think that this is a very good alternative. At the very least, it makes the data available in a way that it can be converted to a strongly-typed object, a la stripe.net's web hook events implementation.

Question: is there any way to be able to have the root API specify for the end users which providers the user data points are coming from? That way I could check the string array for "facebook"

[2016-01-14 21:37] #45 closed

[2016-01-15 08:55] jerriep commented on #57
Robert, are you talking about the actual backend API potentially surfacing this detail?

[2016-01-15 09:28] #57 closed

[2016-01-15 09:31] jerriep commented on #57
@advancedrei I closed this issue because the original issue has now been resolved. Depending on your requirements for your question above, we will open a new issue

[2016-01-15 11:10] jerriep commented on #84
As per Cristian on Slack:

you cant use standalone + require... standalone simply adds a window.Alias thing so it doesn't colide with whatever require.js or common.js `require` function you may have...
to fix, simply replace this

[code]
for this

[code]

[2016-01-15 18:27] jerriep commented on #62
Custom build script with MSBuild and Nuget
http://docs.myget.org/docs/reference/custom-build-scripts

[2016-01-15 18:46] jerriep commented on #62
Or use FAKE
http://fsharp.github.io/FAKE/

[2016-02-04 16:16] damienspivak opened #95 "IUserClient.GetAll not working when using the includeTotals flag."
It seems as if the response can't be deserialized to a type of  IList<User>.

[2016-02-04 18:04] jerriep commented on #95
Thank you for reporting this @damienspivak. This is something I will need to fix across the board. Will get a new release out ASAP.

[2016-02-04 19:23] jerriep opened #96 "Expose rate limits"
Need to expose the rate limits to the user.

Look into approach similar to what octokit.net is proposing: https://github.com/octokit/octokit.net/issues/504

[2016-02-05 17:29] #95 closed

[2016-02-05 18:57] #96 closed

[2016-02-05 19:09] jerriep commented on #95
@damienspivak You can grab V2.1.0 from Nuget to resolve your issue

[2016-02-22 19:25] jerriep opened #107 "Allow sending arbitrary parameters to all Auth endpoints"
we need to make sure that all authentication endpoints allow you to send arbitrary values to Auth0. eg, when I authenticate I need to specify `foo=bar` because I might need this in a rule for something.

[2016-02-22 19:26] jerriep opened #108 "Add integration tests for PR 106"
https://github.com/auth0/auth0.net/pull/106

[2016-02-26 14:48] jerriep opened #109 "Add log endpoints"
https://auth0.com/docs/api/v2#!/Logs/get_logs

[2016-02-26 16:33] nicosabena opened #110 "Async methods"
I now I'm a little late to the discussion on design (https://github.com/auth0/auth0.net/issues/45), but shouldn't async methods be named "xxxAsync()" if there is ever any hope of adding sync versions?
Even if sync versions are not in the roadmap any time soon, the conventions in .Net state that async methods should have the "Async" suffix. HttpClient, for example, an async only class, has all of i

[2016-02-26 16:48] jerriep commented on #110
@nicosabena

You are correct and we are addressing this soon. For now there is no plans to add sync methods, but we will fix the ...Async() naming convention by adding new methods using that convention and marking the existing ones as obsolete.

[2016-03-02 21:48] #110 closed

[2016-03-18 20:39] jerriep commented on #9
Scope supported since V2 of new .NET SDK.

[2016-03-18 20:39] #9 closed

[2016-03-18 20:40] jerriep commented on #29
@eugeniop @dschenkelman  Gentleman, I am doing some housekeeping of old issues. Since V2 of the SDK we support new endpoint at https://auth0.com/docs/api/v2#!/Users/get_users

Is assume this issue is not relevant anymore?

[2016-03-18 20:41] jerriep commented on #30
Supporting new endpoint (https://auth0.com/docs/api/v2#!/Jobs/post_verification_email) since V2 of SDK.

[2016-03-18 20:41] #30 closed

[2016-03-18 20:43] jerriep commented on #6
@woloski Not sure this is relevant anymore. Can I close this issue?

[2016-03-21 16:30] jerriep commented on #58
@ntotten Any feedback on this? I do not believe this belongs here as it is related to the underlying API.

Should we communicate this through to the API team?

Any fixes though will mean breaking changes...

[2016-03-21 16:34] jerriep commented on #73
There are no other endpoints

[2016-03-21 16:34] #73 closed

[2016-03-21 16:35] #108 closed

[2016-03-22 15:17] jerriep opened #113 "metadata on user appears to not be saving correctly"
See https://ask.auth0.com/t/how-to-push-claims-to-users-profile-on-auth0-from-asp-net-5-mvc-6/2424/7

[2016-04-13 20:39] tmschlot opened #114 "ApiException constructor"
The Auth0.Core.Exceptions.ApiException constructor that accepts just an HttpStatusCode does not set the StatusCode property.

[2016-04-19 15:41] TerribleDev opened #115 "target .net 4?"
Think you can have a target of .net 4?

[2016-04-20 01:05] jerriep commented on #115
We will look into .NET 4 support, but it would probably not be forthcoming
soon

On Tue, Apr 19, 2016 at 10:41 PM, Tommy Parnell <notifications@github.com>
wrote:

[2016-04-22 03:03] #114 closed

[2016-04-22 03:12] jerriep commented on #114
Thanks for reporting. Fixed in Auth0.Core.3.1.1.nupkg

[2016-04-25 03:19] jerriep commented on #6
Please reopen if this is still an issue

[2016-04-25 03:19] #6 closed

[2016-04-25 03:20] jerriep commented on #29
Please reopen if this is still an issue

[2016-04-25 03:20] #29 closed

[2016-04-25 03:20] jerriep commented on #58
No feedback received. Please reopen if this is still an issue.

[2016-04-25 03:20] #58 closed

[2016-04-26 11:06] JonCanning opened #116 "Incorrect target"
I'm having a problem installing this library using Paket, please see this issue here:

https://github.com/fsprojects/Paket/issues/1645

It looks like the target is incorrect, could you confirm?

[2016-05-18 22:25] rolodato opened #117 "Incorrect _id field being used in SignupUserResponse"
Here's a sample response from `POST /dbconnections/signup`:

[code]

However `SignupUserResponse` exposes the field `id`, which is never returned.

[2016-05-19 06:53] SergeySorokin commented on #117
@rolodato, not only id is the issue. Username property of the class SignupUserResponse is empty as well.

[2016-05-19 07:38] jerriep commented on #117
Hey guys, I am just busy with getting our ASP.NET Core samples and docs out at the moment. Is it OK if I look at this one for you next week?

[2016-05-19 16:51] rolodato commented on #117
@SergeySorokin You are not receiving a username back because you are not sending a `username` property in the original request.

@jerriep If I understand correctly the only change would be to point to the `Id` property to the `_id` field of the JSON - anything else you can find that would need changing? I can send a PR for this if not.

[2016-05-20 03:35] #117 closed

[2016-05-20 03:36] jerriep commented on #117
New package available on NuGet: https://www.nuget.org/packages/Auth0.AuthenticationApi

[2016-05-20 05:12] SergeySorokin commented on #117
@rolodato , how do I pass username in teh request?

Here is the definition for UserMaintenanceRequestBase class:
    //
    // Summary:
    //     Base class for user maintenance requests.
    public class UserMaintenanceRequestBase {
        public UserMaintenanceRequestBase();

        //
        // Summary:
        //     Gets or sets the client (app) identifier.
        [JsonProperty("client_i

[2016-05-20 16:06] rolodato commented on #117
@SergeySorokin The current version of this library does not support creating users with usernames - that is another issue, so feel free to create one if you need that functionality. Auth0 will only return a `username` field if you are creating a user with a username, which is not your case.

[2016-06-06 12:54] tommy5dollar opened #118 "Users.DeleteAsyc call is risky!"
If you accidentally pass null or an empty string to the Users.DeleteAsync method it will delete all of your users... I can't even see this mentioned in the documentation (https://auth0.com/docs/api/management/v2#!/Users/delete_users_by_id) and it took me more than a little by surprise.

[2016-06-30 00:41] jerriep opened #120 "token endpoint does not return refresh_token"
Need to update https://github.com/auth0/auth0.net/blob/master/src/Auth0.AuthenticationApi/Models/AccessToken.cs to deserialize refresh token

[2016-06-30 06:55] jerriep commented on #120
Closed by 0be06b5a1a0ddea320a60853705ce6dcaddf1311

[2016-06-30 06:55] #120 closed

[2016-07-19 15:00] pushpabrol opened #121 "client_metadata is not available in the Client Object"
The C# Client object does not expose a property for the client_metadata list.

[2016-07-20 20:43] monkieboy commented on #116
Please fix the target it is incorrect, this issue is outstanding for 3 months, will literally take 3 minutes to fix.

[2016-07-21 04:46] #116 closed

[2016-07-21 04:46] #121 closed

[2016-07-21 04:46] jerriep commented on #121
@pushpabrol Please grab latest version from NuGet

[2016-07-21 04:47] jerriep commented on #116
@JonCanning @monkieboy Gentlemen. my apologies for this. I have updated and pushed new versions to NuGet

[2016-07-21 20:31] monkieboy commented on #116
@jerriep Thank you very much :)

[2016-08-13 00:28] dcworldwide opened #122 ".net core"
Will this work as is on .net core?

[2016-08-15 04:00] jerriep commented on #122
We do not have a version which target .NET Standard yet, but you can use the existing PCL.

Please refer to this sample:
https://github.com/auth0-samples/auth0-aspnetcore-sample/tree/master/03-Login-Custom

Just be sure to import the correct PCL framework, as per the sample:
https://github.com/auth0-samples/auth0-aspnetcore-sample/blob/master/03-Login-Custom/SampleMvcApp/project.json#L34-L41

[2016-08-16 09:28] jerriep commented on #118
@tommy5dollar Version 3.3.0 fixes this and will throw an exception if a user id is not passed to the method

[2016-08-16 09:28] #118 closed

[2016-09-06 09:33] kunjan13 opened #123 "Auth0 get user throws missing authentication excpetion"
I get below exception all of sudden in production environment..

https://auth0.com/docs/api/management/v2

as this link says token never expire.. what is wrong i am not able to understand.

Auth0.Core.Exceptions.ApiException: Missing authentication
 at Auth0.Core.Http.ApiConnection.<HandleErrors>d__17.MoveNext() in C:\Development\auth0\auth0.net\src\Auth0.ManagementApi\Core\Http\ApiConnection.cs:l

[2016-09-06 15:28] jerriep commented on #123
@kunjan13 Do you have a reproducible sample for me?

[2016-09-13 14:10] tillmaurer opened #124 "Serching for users using the GetAllAsync method does not filter on ConnectionName"
When making a query like below, I get users from all connections. Should the returned list not be filtered by connection since connection name is included as a parameter?

`var users = await _apiClient.Users.GetAllAsync(null, null, null, null, _connectionName,null,null,query,"v2");`

[2016-09-20 09:51] jerriep commented on #124
@tillmaurer As per the Management API Docs (https://auth0.com/docs/api/management/v2#!/Users/get_users)

So either do this:
[code]

or

[code]

[2016-09-20 09:52] #124 closed

[2016-09-20 09:59] jerriep commented on #123
@kunjan13 I am unable to reproduce. If you can send me a reproducible sample please feel free to reopen this issue

[2016-09-20 09:59] #123 closed

[2016-09-27 09:40] jerriep commented on #122
@dcworldwide New version which targets .NET Standard 1.1 is available on NuGet

[2016-09-27 09:40] #122 closed

[2016-09-27 09:43] #109 closed

[2016-09-27 09:44] #113 closed

[2016-09-27 09:45] #107 closed

[2016-09-27 09:47] jerriep commented on #86
@ntotten I am closing this as the .NET SDK docs now run as a completely separate website and not in the context of the main docs website. So I believe this is not relevant anymore.

Please feel free to reopen if you think it is still relevant

[2016-09-27 09:47] #86 closed

[2016-09-27 09:47] jerriep commented on #84
Not relevant anymore. Docs runs as completely separate website

[2016-09-27 09:47] #84 closed

[2016-09-27 09:48] jerriep commented on #72
Docs are generated with docfx. Still a manual process, but good enough for now

[2016-09-27 09:48] #72 closed

[2016-09-27 09:48] jerriep commented on #71
Not required anymore.

[2016-09-27 09:48] #71 closed

[2016-09-27 09:49] jerriep commented on #70
Implemented

[2016-09-27 09:49] #70 closed

[2016-09-27 09:49] #63 closed

[2016-09-27 09:54] jerriep commented on #115
@TerribleDev I will be closing this issue for now. There are no plans currently to support .NET 4 or earlier

[2016-09-27 09:54] #115 closed

[2016-09-27 14:03] TerribleDev commented on #115
@jerriep that is fair, if we go to the trouble to re-write parts of the api so they can support 4.x would our PR be welcomed?

[2016-09-27 14:41] jerriep commented on #115
It can certainly be considered as long as it does not add long term maintenance burden. Can you give me a brief overview of your thinking around this, i.e. which parts it is you want to rewrite and how you want to go about it?

[2016-09-30 14:54] TerribleDev commented on #115
Sure, I'll look over the code next week and get back to you.

[2016-10-03 10:38] IlSocio opened #125 "IApiConnection instance can't be replaced in AuthenticationApiClient"
I'd like to replace the IApiConnection instance with my own implementation, but it doesn't seems to be possible, because the AuthenticationApiClient doesn't provide a constructor overload that takes the IApiConnection.
https://github.com/auth0/auth0.net/blob/netstandard/src/Auth0.AuthenticationApi/AuthenticationApiClient.cs

Basically, I need to configure the httpclient to use a proxy.
Marco.

[2016-10-13 11:00] jerriep commented on #125
Thanks for reporting this @IlSocio

I am looking into solving this for you

[2016-10-19 09:24] IlSocio commented on #125
Thank you @jerriep  👍

[2016-10-21 09:06] jerriep commented on #125
@IlSocio I added overloads to the constructors of `AuthenticationApiClient` and `ManagementApiClient` which allows you to pass in an `HttpMessageHandler`

You can for example do the following

[code]

Please grab V3.5 from NuGet

[2016-10-21 09:06] #125 closed

[2016-10-21 12:15] IlSocio commented on #125
Thank you! @jerriep that's perfect :)

[2016-10-27 12:55] WittrupA opened #127 "Explanation inaccurate"
First, apiClient.Clients.GetAll() does not exist. Second, you need complete examples of code that works, including what it is you get, and how you get it. The process is unclear. Hidden, actually.

[2016-10-30 22:22] gregsdennis opened #128 "Readme on Authentication URL builder is not informative"
In the README.md file, where it talks about the Authentication API and building auth URLs, it says nothing about what to do with a URL once created.

If I want to inject a redirect link, I see how I can incorporate it into the URL, but how do I get it into the client or request?

[2016-10-31 00:30] gregsdennis opened #129 "AuthenticationParameters on PasswordlessEmailRequest should be of type object"
I cannot add any parameters (like a redirect URL) to a request as the `AuthenticationParameters` property is a `string`.  It should be an `object` so that it serializes to a JSON object like the API is expecting.

There are no tests which cover this.

As a workaround, I'm manually calling the API without the `AuthenticationClient`.

[2016-11-10 08:56] #127 closed

[2016-11-10 08:57] jerriep commented on #127
For documentation on each method, please refer to the API Documentation section of the website by clicking the "API Documentation" link at the top:

http://auth0.github.io/auth0.net/

[2016-11-10 09:02] #128 closed

[2016-11-11 03:40] jerriep commented on #129
@gregsdennis Can you please give me a sample code snippet which demonstrates your problem? Also explain to me what SDK is sending to the API and what you are expecting it to send?

[2016-11-29 20:54] tvand7093 opened #130 "ExchangeCodeForAccessTokenAsync gives missing device parameter error"
### Problem Description
I recently was migrating your old auth0.net nuget package to the latest package when I started to run into device parameter issues. We originally had our code using refresh tokens without fail 100% of the time. However, the move seems to have brought this new issue to the surface.

We currently have implemented this in an MVC application.  I am able to login with the lock w

[2016-12-13 10:37] jerriep commented on #130
@tvand7093

First off apologies for my late reply.

I am not able to reproduce your problem.

A couple of questions though:

1. Why are you requesting `offline_access` for a web application? Offline access is only for native applications
2. The code you included above is a deviation from what is installed by the NuGet package. Is there a reason you decided to go with `responseMode: 'form_post'`?
3

[2016-12-13 17:20] tvand7093 commented on #130
No problem, thanks for looking into it.

I know that the `offline_access` is normally not for web apps, but we try (maybe incorrectly) to keep a 'rolling' login. Essentially the users don't want to click anything when they open up the app for the first time of the day, like GitHub works.

The only reason `responseMode` is `form_post` is that I tried to upgrade the Lock version to try and resolve t

[2016-12-14 01:46] jerriep commented on #130
@tvand7093  In an ASP.NET application it is not the token received from Auth0 which determines the session lifetime, but the cookie. So in the `LoginCallback.ashx.cs` file you will notice there is a call to `FederatedAuthentication.SessionAuthenticationModule.CreateSessionCookie()`

By default this cookie is set only for the duration of the session, so once the user closes the browser window, thei

[2016-12-14 02:51] tvand7093 commented on #130
Ahhh, makes sense. I was unaware of the extra options in the `CreateSessionCookie`. Thanks for the help!

[2016-12-14 02:51] #130 closed

[2016-12-19 17:38] nicosabena commented on #129
@jerriep when putting some string in `AuthenticationParameters`, like a serialized JSON or a query string, the API responds this:

`ApiException: error in authParams - invalid type: string (expected object)`

The API expects a payload like this:

[code]

As you see, `authParams`  should be serialized as object.

This works as a workaround:

[code]

So you can do this:

[code]

[2017-01-06 13:35] alastairs commented on #129
I've been looking at this today to see if it can be quickly fixed given the required change is quite trivial. However, trying to add tests around this behaviour is proving very difficult as I can't figure out how to run them. Looking at the way the tests are architected suggests that it's going to be very difficult to get the tests to run and pass on my machine: for example, I am missing the requi

[2017-01-06 14:58] nicosabena commented on #129
PR https://github.com/auth0/auth0.net/pull/132. We need to decide if we do a major version or not for this.

[2017-01-09 02:34] jerriep commented on #129
@gregsdennis Find V3.7 on NuGet which fixes this issue

Thanks @nicosabena for the fix :)

[2017-01-09 02:34] #129 closed

[2017-01-10 15:27] kjartanvalur opened #133 "How to get large picture (facebook provider)"
Hi

When I get a user with the sdk the user has a Picture property. Is it possible to get the picture_large property that I know exists on the raw user json profile?

[2017-02-10 20:44] bromanko opened #136 "Resource Owner request does not respect Scope"
The ResourceOwnerTokenRequest `GetTokenAsync` call accepts a `scope` argument to request specific claims. However, the returned token does not include any of the custom claim information. Using the previous `AuthenticateAsync` method would correctly return claim attributes.

[2017-02-10 21:26] bromanko commented on #136
Looks like I missed a key part of [the documentation](https://auth0.com/docs/api-auth/tutorials/password-grant).

So, a follow up call to `GetUserInfo` should do the trick.

[2017-02-10 21:26] #136 closed

[2017-02-13 20:50] cschoede opened #137 "Setting UserMetadata in Xamarin has different results"
The code below works in a basic Console Application. But doesn't work in a Xamarin.Forms Application.
[code]

# Debug Info

## Console App

* **.NET Version:** 4.5.2
* **Auth0:** 3.6.0
* **Auth0.AuthenticationAPI:**: 3.7.0
* **Auth0.Core:** 3.7.0
* **Auth0.ManagementAPI:** 3.7.0
* **Netwonsoft.JSON:** 9.0.1

## Xamarin.Forms App

* **.NET Version:** 4.5
* **ASP.NET Core:** 1.0
* **Windows 8**
* **

[2017-02-14 04:41] jerriep commented on #137
Can you please expand on what you mean with "doesn't work"?

Does it give you a compile time error? A runtime error? Or does it simply not update the metadata?

[2017-02-14 12:59] jtainter opened #138 "Pulling Group Information from Azure Active Directory"
I've implemented connection to Azure Active Directory through Auth0 and am able to pull in the general user information but I can't seem to pull in any group information that we have associated to the users in Azure AD.

I'm using the Auth0 Lock object for login and passing in scopes of 'openid groups profile'. After successful login Im capturing the claims that Auth0 is returning and none of them

[2017-02-14 14:57] cschoede commented on #137
When running the Console application and calling `user.UserMetadata.pin` in the `immediate window` produces the stacktrace below
[code]
However when making that same call in the immediate window of the Xamarin Application gives `Unknown member: pin` and will throw an Exception.

[2017-02-14 15:17] cschoede commented on #137
Actually, this is beginning to look like it's a JSON.NET issue and I'm fine bumping it there.

[2017-02-14 15:23] jerriep commented on #137
Do you only get this exception when debugging? Or if you run the application normally as well? If you get it when running normally, then on what line exactly is the exception thrown?

I am asking because initially you said the code does not work. But now it seems that the code may be working, but instead you actually get an exception when trying to evaluate the value while debugging.

If you only

[2017-02-14 15:27] jerriep commented on #137
This may be relevant to your specific case:
https://github.com/JamesNK/Newtonsoft.Json/issues/493

[2017-02-14 15:42] cschoede commented on #137
@jerriep it would certainly appear so. I'll post the issue there.

[2017-02-14 15:42] #137 closed

[2017-02-15 07:59] jerriep commented on #138
This should work. Did you configure the Auth0 AD / LDAP Connector to map the groups from AD on your profile?

Please reference this document:
https://auth0.com/docs/connector/modify#profile-mapper

In the "Profile Mapper" section of the AD Connector, you should ensure that you map the groups received from AD to the user profile, e.g.

[code]

You can ensure that the groups are returned from AD by

[2017-02-22 13:50] jerriep commented on #138
@jtainter I have not heard back from you regarding this.

If you still  have issues, please feel free to contact Auth0 support

[2017-02-22 13:50] #138 closed

[2017-03-29 13:06] jpozo20 opened #139 "Exception when using Auth0.Authentication API on net46"
When using the Authentication API on .NET 4.6.x, whenever Auth0 does a web request it's throwing an exception :

System.IO.FileLoadException: Could not load file or assembly 'System.Diagnostics.DiagnosticSource, Version=4.0.0.0

I believe it's related to this issue on corefx: https://github.com/aspnet/JavaScriptServices/issues/487

As it says at the end of the thread it can be solved by upgrading

[2017-03-29 13:30] jerriep commented on #139
@jpozo20 A couple of things:

1. Can you please provide me with a small code snippet which demonstrates your problem?

2. Which version of the NuGet package are you using?

[2017-03-29 14:00] jpozo20 commented on #139
I'm using the v3.7.0 nuget
And here is a simple git where I make the call to the authentication api:

https://gist.github.com/jpozo20/9e983c34bb5df382e09c708a5e54d085

The request fails on the _apiClient.AuthenticateAsync(authenticationRequest); call with the exception said above.

[2017-03-31 02:43] jerriep commented on #139
@jpozo20 I will look into this for you

In the meantime, can you perhaps check out the V4 pre-release on NuGet and see whether that works for you?

[2017-04-01 20:49] jpozo20 commented on #139
@jerriep It's it documented? Sometime ago I read a guide about using it since it has many breaking changes, but I didn't understand much. Is there a migration guide?

[2017-04-03 03:38] jerriep commented on #139
@jpozo20 Yes, here is the migration guide:
http://auth0.github.io/auth0.net/migrating.html

[2017-04-03 03:41] jerriep commented on #139
BTW, here is sample code for how you would go about what you are trying to do with the 4.x libraries:

https://github.com/auth0-samples/auth0-aspnet-owin-mvc-sample/blob/oidc-conformant/02-Custom-Login/MvcApplication/MvcApplication/Controllers/AccountController.cs#L34-L80

[2017-04-04 00:17] jpozo20 commented on #139
Thanks, I'll give it a try.

[2017-04-05 10:20] jpozo20 commented on #139
Hello again, I had some problems getting past the authorization on net452, but it seems the problem persists on the v4 and net46 beta since you guys are still using an old version of System.Net.Http

[2017-04-06 12:29] WittrupA opened #140 "List users returns duplicates and is incomplete"
I tried to create a list of all our users using the Management API v2. I assigned one hundred users per page. After 7 pages or so, I noted duplicates (e.g., a few users in a page had been listed in previous pages.) After completing the list, I noted that there were users who were not included in the entire, multi-page list.

When I created the list sorting on email address, I received all users, n

[2017-04-07 02:14] jerriep commented on #139
Hi @jpozo20 , I worked around this issue by explicitly installing V4.3.1 of System.Net.Http.

I will see to update our NuGet packages to ensure that this version gets pulled in, but I will need to do some extra testing across platforms to ensure nothing else breaks.

For now, please just go to your NuGet packages for your application, and ensure you install 4.3.1 of System.Net.Http manually.

Let

[2017-04-07 02:22] jerriep commented on #140
@WittrupA I will look into this for you

[2017-04-07 03:27] jpozo20 commented on #139
My bad :sweat_smile:

I tried that before, and it didn't seem to work. I updated the package in all my projects and problem was persisting but it looks like my main project didn't have the System.Net.Http v4.3.1
And now it is indeed working, the issue can be closed.

[2017-04-07 03:27] #139 closed

[2017-04-07 04:40] jerriep commented on #140
Hi @WittrupA , I have an answer for you - which you may or may not like ;)

By default the returned users are sorted by the `last_login` field. In the case where a user has never logged in this value will be empty.

The problem with this however is that ElasticSearch will return these "non-sorted" ones randomly. This causes the inconsistency between queries which you are seeing.

Also note that be

[2017-04-07 12:24] WittrupA commented on #140
Thanks @jerriep. I appreciate the response. Updating the documentation will allay all of my concerns. Frankly, I was curious about the default sort, and you've answered that. Good luck!

[2017-04-07 12:24] #140 closed

[2017-04-17 21:10] yaplex opened #141 "logout returnTo parameter is ignored"
I am trying to logout user and after logout redirect him back to homepage. I providing returnTo parameter but it is ignored, the user get redirected to the first URL in Allowed Logout URLs list.
(I am using Auth0-ASPNET-OWIN 2.0.0)

[2017-04-18 03:00] danieljsummers opened #142 "Version 3 dox?"
The current documentation site is really nice, but it looks like the documentation is for the version 4 API.  I checked, but couldn't find any equivalent for the version 3 API.  I've done some looking in the source to help me get headed in the right direction, but is there a place where v3 is still documented?

[2017-04-18 03:02] danieljsummers commented on #142
The site to which I'm referring is <http://auth0.github.io/auth0.net/index.html>.  _(Sorry for leaving that out of my initial submission.)_

[2017-04-18 11:01] jerriep commented on #142
Daniel, we do not have any documentation currently for V 3.x of the SDK.

The SDK is still quite similar though, and the V4 documentation should steer you in the right direction.

Also, you can refer to the documentation of the actual Authentication API and Management API:

* https://auth0.com/docs/api/authentication
* https://auth0.com/docs/api/management/v2

[2017-04-18 11:02] jerriep commented on #141
Can you please show me some sample of the code you are using, so I can see how you are doing this?

[2017-04-18 12:12] danieljsummers commented on #142
OK - I appreciate the information.  :)  Thanks!

[2017-04-18 12:12] #142 closed

[2017-04-18 13:19] yaplex commented on #141
I am using Lock 10. The following is Logout method in controller:
`            var absoluteReturnUrl = string.IsNullOrEmpty(returnUrl)
                ? Url.Action("Index", "Home", new {}, Request.Url.Scheme)
                : Url.IsLocalUrl(returnUrl)
                    ? new Uri(Request.Url, returnUrl).AbsoluteUri
                    : returnUrl;

            var auth0Logout = string.Format("ht

[2017-04-19 02:15] jerriep commented on #141
If you are using the Auth0-ASPNET-OWIN 2.0.0 library, then this is how you would do logout:

https://github.com/auth0-samples/auth0-aspnet-owin-mvc-sample/blob/oidc-conformant/01-Login/MvcApplication/MvcApplication/Controllers/AccountController.cs#L16-L23

Can you please try that?

[2017-04-19 02:21] yaplex commented on #141
Yes, I saw that sample, but it does not work for me for some reasons. The code is executed, but nothing happens, I am not logged out, I get redirected back to home page, but I am authenticated.

[2017-04-19 03:38] jerriep commented on #141
That means that your local cookie is not cleared. Which is strange, because that is what this line is doing:

[code]

Is it possible you can send me the code for your application?

If not then please the code for your Login and Logout actions, as well as the code where you configure your OWIN middleware - in particular the Cookie and other authentication middleware

[2017-04-19 13:31] yaplex commented on #141
[auth0.zip](https://github.com/auth0/auth0.net/files/934752/auth0.zip)
I attached files related to login. if you still have troubles to identify the issue, let me know, I will create a separate fully functional application to show issues with login.
  <package id="Auth0-ASPNET-Owin" version="2.0.0" targetFramework="net461" />

[2017-04-20 03:05] jerriep commented on #141
OK, so in V2 of the OWIN middleware, we handle the logout for you, so you do not have to redirect to the Auth0 logout URL manually.

This causes the issue where you rightly noted that we "intercept" the call to logout.

Also, the name of the Cookie is different from what you declared in your Startup.cs file, vs what I used in the sample code above, and that's the reason that the cookie was apparen

[2017-04-20 10:11] IlSocio opened #143 "Resource Owner Password - Audience missing in AuthenticationApiClient?"
I'm trying to use the resource owner password grant:
https://auth0.com/docs/api/authentication#resource-owner-password

But I need to set the Audience parameter and it seems to be missing in the AuthenticationApiClient (tried both v3 and v4)
https://github.com/auth0/auth0.net/blob/v4/src/Auth0.AuthenticationApi/Models/ResourceOwnerTokenRequest.cs

Is there any alternative way to set the Audience?

[2017-04-24 08:11] jerriep commented on #143
Hi Marco. I'll get back to you on this one.

[2017-04-26 04:01] jerriep commented on #141
@yaplex I am closing this issue. Feel free to open again if the solution above did not resolve your problem

[2017-04-26 04:01] #141 closed

[2017-04-26 04:16] #143 closed

[2017-04-26 04:17] jerriep commented on #143
@IlSocio Version 4.1.0 adds support for `Audience` parameter. Please update your NuGet package

[2017-04-26 12:04] IlSocio commented on #143
Thank you jerriep, this is a great news! :)

[2017-04-28 00:34] brcarey opened #144 "GetTokenAsync with scope does not work"
If you look at the auth0 doco:

https://auth0.com/docs/api/authentication#authorization-code

there is no scope parameter of oauth/token endpoint, so you cannot get profile info back int he JWT.

Perhaps this:

https://github.com/auth0/auth0.net/blob/master/src/Auth0.AuthenticationApi/AuthenticationApiClient.cs#L357

should be changed to use oauth/ro (which is what I am using Connection.PostAsync

[2017-04-28 03:37] jerriep commented on #144
@brcarey You should use the Resource Owner Password grant flow:
https://auth0.com/docs/api/authentication#resource-owner-password

When using the Auth0.net client you can do the following:

[code]

The `oauth/ro` endpoint will be deprecated at some point in the future, so it should not be used

[2017-04-28 03:47] brcarey commented on #144
with the above request to oauth/token, there is no profile information
returned in the jwt, despite it being present in the scope

On Fri, Apr 28, 2017 at 1:37 PM, Jerrie Pelser <notifications@github.com>
wrote:

[2017-04-28 04:19] jerriep commented on #144
@brcarey

I will need to see the actual request and response

Please capture the network traffic for me with Fiddler. Look for the request to the `/oauth/token` endpoint, right click on it and select Save > Selected Sessions > As Text

Once you have saved the text file, please edit it to delete the value of your actual `client_secret` (because it is a secret ;) ), and then post that text file for

[2017-04-28 04:27] jerriep commented on #144
BTW, are you referring to the `access_token` or the `id_token`?

The `access_token` will not contain user information - only the `id_token`

For more info see this:
https://auth0.com/blog/why-should-use-accesstokens-to-secure-an-api/

[2017-04-28 04:41] brcarey commented on #144
Thanks, will do. I am referring to the id_token

On Fri, Apr 28, 2017 at 2:27 PM, Jerrie Pelser <notifications@github.com>
wrote:

[2017-05-02 07:49] IlSocio opened #145 "Auth0 v4.x requires Newtonsoft.Json v10.0.2"
I just updated Auth0 client to v4 and I noticed that it requires Newtonsoft.Json v10.0.2
https://github.com/auth0/auth0.net/blob/master/nuget/Auth0.Core.nuspec#L56
I'm wondering... does Auth0 really needs some new features introduced in json v10 or it could also work with previous versions?

[2017-05-02 07:51] jerriep commented on #145
We do not specifically need this.

Is it causing you problems?

[2017-05-02 07:59] IlSocio commented on #145
I'm currently using v9 and this requirement causes a forced update of Newtonsoft.Json to v10 for the project where I'm using Auth0.
I'm afraid it could introduce a compatibility break because I'm using v9 in all other projects of the same solution.

[2017-05-02 08:14] jerriep commented on #145
10.x mostly adds async support, and some other performance enhancements:
http://james.newtonking.com/archive/2017/03/21/json-net-10-0-release-1-async-performance-documentation-and-more

Can you see whether 10.x breaks anything for you. If it gives you real
problems, I can revert to 9.x on our side, but if not I would prefer
staying on 10.x

On Tue, May 2, 2017 at 2:59 PM, Marco Bellino <notificati

[2017-05-02 10:17] IlSocio commented on #145
thanks for your promptly reply jerriep.
My project seem to be working fine on v10 and all the tests are passed, but I'm using many 3rd party components too, which I'm not able to fully test and those are dependent on json v9.
To avoid breaking change issues, I'll keep using the auth0 v4 prerelease... as soon as the 3rd party components will be updated to require json v10 I'll update auth0 to v4 fi

[2017-05-03 03:30] jerriep commented on #145
Sure. If this causes you real issues let me know and I can relax the requirement

[2017-05-03 03:30] #145 closed

[2017-05-08 07:53] jerriep commented on #144
@brcarey Did you manage to sort this issue out?

[2017-05-08 22:27] brcarey commented on #144
sorry for the late reply @jerriep, only as far as making the raw http request to oauth/token to find that the scope parameter has no impact on the token returned

![image](https://cloud.githubusercontent.com/assets/1684235/25827974/29429ba4-3491-11e7-8cd3-33cb9c4192f0.png)

that is not the same token that I receive from oauth/ro, which includes the profile information that I am after

[2017-05-08 22:43] brcarey commented on #144
And in fact, the documentation for oauth/token does not even indicate you can pass username/password

https://auth0.com/docs/api/authentication#authorization-code

[2017-05-09 04:15] jerriep commented on #144
You need to look at the Resource Owner Password flow docs:
https://auth0.com/docs/api/authentication#client-credentials

[2017-05-09 04:22] jerriep commented on #144
Can you please post here the actual `id_token` being returned?

[2017-05-09 23:07] brcarey commented on #144
for oauth/token or oauth/ro?

[2017-05-10 01:49] brcarey commented on #144
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoiYnJlbmRhbkBjdXJyZW5jeXZ1ZS5jb20iLCJuaWNrbmFtZSI6ImJyZW5kYW4iLCJwaWN0dXJlIjoiaHR0cHM6Ly9zLmdyYXZhdGFyLmNvbS9hdmF0YXIvNjk5NDhkYTE0N2E4MWFkZGJiYzJiNDNiYTJmMTZmMDQ_cz00ODAmcj1wZyZkPWh0dHBzJTNBJTJGJTJGY2RuLmF1dGgwLmNvbSUyRmF2YXRhcnMlMkZici5wbmciLCJ1cGRhdGVkX2F0IjoiMjAxNy0wNS0xMFQwMTo0ODoyNS41NjRaIiwiaXNzIjoiaHR0cHM6Ly9jdXJyZW5jeXZ1ZS5hdS5hdXRoMC5jb20vIiw

[2017-05-10 01:53] jerriep commented on #144
OK, so if I view that token in jwt.io, I can see the user's profile claims (`name`, `nickname` and `picture`). So the requested `scope` is being honored.

Can you please explain what you are expecting?

Maybe there is a miscommunication between us...

[2017-05-10 01:56] brcarey commented on #144
I would like attributes of app_metadata to be returned, which is what we get with oauth/ro, is that possible?

[2017-05-10 02:12] jerriep commented on #144
No and yes ;)

No - not in the same way as before. With the new OIDC-compliant pipeline we do not return `app_metadata`.
Yes - by doing a little extra work. See [this document](https://auth0.com/docs/scopes/preview) and in particular the Custom Claims section.

If you then request `scope: openid profile` you should get those new claims.

For a general background on OIDC Conformant clients, I also

[2017-05-10 02:44] brcarey commented on #144
Excellent, thanks.

So the namespace prefix for properties, that does not need to correspond with any value from the authentication request?

Great work with the SDK too by the way, its been great to work with.

[2017-05-10 02:52] jerriep commented on #144
No, the namespace prefix can be whatever you choose. I would suggest using something which relates to your company or name though, e.g. `https://www.currencyvue.com/`

And thanks :)

[2017-05-10 04:18] brcarey commented on #144
Working all good now, thanks for the help

[2017-05-10 04:18] #144 closed

[2017-05-19 06:55] jerriep opened #147 "ResourceServer association for Clients is incorrect"
Reported by @rdowinton

Submitting the following request:

[code]

Results in this exception:

[code]

The reason for this is that the association to ResourceServers in the `ClientBase` (from which `ClientCreateRequest` inherits) references the full schema for resource servers. This is not correct. If we look at the API schema for Clients on the Management API, the list of resource servers is a mi

[2017-06-08 14:08] Shrulik opened #149 "Query that works in the Dashboard doesn't work in Users.GetAllAsync"
This is on version 3.7 of Auth0.Net

This is what I tried in the Dashboard and it worked :
email.raw:"someemailaddress@live.com"

Now, trying to recreate this in code, I have tried a query of type :

[code]
Just to elaborate further, the last query returns a user, and this user has a value in the Email field, and it is equal to "someemailaddress@live.com".

[2017-06-10 11:06] ronaksharma8 opened #151 "No user-metaData parameter in SignUpUserRequest class for SignupUserAsync method"
In Authentication.Api client lib for SignupUserRequest class, there is no parameter for "user-metadata". Then how can i add user related data into Auth0 server? @jerriep can u provide me with your suggestion?

[2017-06-12 04:24] #151 closed

[2017-06-12 04:30] jerriep commented on #151
@ronaksharma8 I pushed V4.2.0 to NuGet to fix this for you.

[code]

[2017-06-12 10:10] jerriep commented on #149
@Shrulik

I just tested the following with V4.x and it works fine:
[code]

The code for searching has not changed between version 3.x and 4.x, so it should work in 3.x

Could you perhaps trace the actual query being sent to Auth0 with something like Fiddler, and then pasting that request (and response) for me here so I can have a look at it?

[2017-06-26 06:49] arieradle opened #152 "Missing supported field in UserBase"
In src/Auth0.ManagementApi/Models/UserBase.cs there is no property which translates to
"verify_email" parameter, when making POST request to /api/v2/users, as described here: [Create user API](https://auth0.com/docs/api/management/v2#!/Users/post_users).

Please add the following property
`
        [JsonProperty("verify_email")]
        public bool? VerifyEmail { get; set; }
`
in src/Auth0.Managem

[2017-06-27 06:26] jerriep commented on #152
@arieradle

I added a `VerifyEmail` property to `UserCreateRequest`

Please grab 4.4.0 from NuGet
https://www.nuget.org/packages/Auth0.ManagementApi/4.4.0

[2017-06-27 06:38] arieradle commented on #152
I'm not sure we're OIDC-conformant.
Will v3.x Nugets have this change?

[2017-06-27 06:53] jerriep commented on #152
Are you using the Management API or Authentication API packages?

[2017-06-27 06:54] arieradle commented on #152
Both

[2017-06-27 06:56] jerriep commented on #152
Can you check whether your clients are set to OIDC Conformant? If so, then just use V4.x

If not, well then I will have to retrofit this change to V3. Let me know

[2017-06-27 07:01] arieradle commented on #152
"OIDC Conformant" switch is off for all clients

[2017-06-27 07:30] jerriep commented on #152
I'll look into this...

[2017-06-27 08:32] jerriep commented on #149
Closing issue due to non-response.

Feel free to open again if you get time to look at it, and the problem persists

[2017-06-27 08:32] #149 closed

[2017-06-27 08:32] #147 closed

[2017-06-27 08:40] jerriep commented on #152
@arieradle

OK, V3.8.0 is available: https://www.nuget.org/packages/Auth0.ManagementApi/3.8.0

[2017-06-27 12:14] arieradle commented on #152
I've tested the Nuget - it didn't work.

Here's the request log form Auth0 console:

"body": {
    "client_id": "********",
    "tenant": "HHHHHH",
    "connection": "Testing-Database",
    "password": "*****",
    "given_name": "AAAAA",
    "family_name": "BBBBB",
    "email": "XXXXX",
    "email_verified": false
  },
  "query": {
    "method": "POST",
    "host": "login.auth0.com",
    "port": 4

[2017-06-27 12:58] jerriep commented on #152
Can you show me your C# source code?

[2017-06-27 13:07] arieradle commented on #152
[code]

[2017-06-28 03:30] jerriep commented on #152
@arieradle I believe you are looking at the wrong log. You should look at the "API Operation" log entry. Here is an example from my side when I sent `VerifyEmail = false`:

[code]

In this case **no** verification email is sent out.

And when I set `VerifyEmail = true`:

[code]

In this case a verification email is indeed sent out.

The JSON from you log you posted above looks like it is from the

[2017-06-28 08:05] arieradle commented on #152
OK, I've found the correct log.
And we're still getting the verification email.

[code]

[2017-06-28 08:09] jerriep commented on #152
Wow, this is strange. I tested and definitely did not get the verification email when I set `VerifyEmail` to false.

Can you test doing this directly via the Management API Console (https://auth0.com/docs/api/management/v2) or with Postman (https://auth0.com/docs/api/postman) ?

[2017-06-28 08:12] arieradle commented on #152
@jerriep I'll try reproducing with postman. Could it be that the "update" call, as mentioned above, issues the verification email?

[2017-06-28 08:34] jerriep commented on #152
I'll ping on out internal channel to see whether anyone is aware of why this would happen - as this does not seem to be an actual issue with the .NET SDK...

Will let you know if I hear something back

[2017-06-28 08:35] jerriep commented on #152
BTW, what "update" call are you referring to?

[2017-06-28 08:39] arieradle commented on #152
We're blocking the user.

[code]

But the verification email is issued upon user creation, not the update. The issue is definitely with the backend.

[2017-06-28 10:00] jerriep commented on #152
@arieradle What is your Auth0 tenant name ?

[2017-06-28 10:04] arieradle commented on #152
@jerriep netformx

[2017-06-28 10:08] jerriep commented on #152
BTW, I tested the same sequence as you - creating and then updating the user - and that did not trigger any email for me, so I do not think that is the case

[2017-06-28 11:16] jerriep commented on #152
OK, one of the support people is looking into this. He will create a support ticket on your behalf, so you and him can communicate directly

[2017-06-28 11:16] jerriep commented on #152
I will close this issue, as it is obviously not related to .NET anymore

[2017-06-28 11:16] #152 closed

[2017-06-28 12:15] arieradle commented on #152
Great! Thanks.

[2017-08-02 16:19] b4rj opened #153 "Users.GetAllAsync is returning all users (.net)"
Hello guys!

When I call:

[code]

User is returning all emails.

Did I miss something?

Ps.: Im using a web api 2 in .net 4.6 to call the SDK of Auth0 ManagementApiClient 4.4.0.0

[2017-08-02 19:33] b4rj commented on #153
Solution:
var user = client.Users.GetAllAsync(q:"email.raw:my@email.com").Result;

[2017-08-02 19:33] #153 closed

[2017-10-24 19:26] bialad opened #156 ".Net Core 2.0"
Are there any plans to move these libraries from netcoreapp1.1 to netcoreapp2.0? When I build the client application against 2.0, I get strange errors with your libraries.

Have you planned a conversion, the libraries haven't received commits in a few months?

[2017-10-24 23:47] jerriep commented on #156
I assume you mean from .NET Standard 1.1 to .NET Standard 2.0?

There should not be any need, because .NET Standard 1.1 libraries will also work on .NET Core 2.0, whereas if we make these .NET Standard 2.0, then we limit many other users from using them.

Can you please be more specific as to what these errors are that you are getting?

If you do that then we can be better able to try and track do

[2017-10-25 11:01] bialad commented on #156
Sorry, forgot how the netstandard works. You are absolutely right.

I tried running the restore and build in a container, and then it worked. I'm running dotnet cli on debian stretch, which has had some issues in the past.

After changing the permissions on the container generated .nuget and .dotnet folders is works outside on the container as well. I'll bring this up to the dotnet cli-team if it

[2017-10-25 11:01] #156 closed

[2017-10-27 13:54] FutureGUIs opened #157 "New method GetUsersByEmailAsync throws error: Query validation error: Additional properties not allowed"
Calling the new method GetUsersByEmailAsync with an email address is throwing this error:

Query validation error: Additional properties not allowed

[2017-10-27 14:07] #157 closed

[2017-10-27 14:08] jerriep commented on #157
@FutureGUIs

My apologies. Please update to Auth0.Core 4.0.1. I have also published Auth0.ManagementApi 4.6.1 which takes a dependency on this particular version

[2017-10-27 14:54] FutureGUIs commented on #157
Thanks, that works now.

[2017-11-07 04:12] jerriep commented on #81
Not relevant ATM, as we do not have CI in place anymore

[2017-11-07 04:12] #81 closed

[2017-11-14 13:34] federicoD opened #158 "Missing grant_types in Client definition"
When I want to create or update a Client using the ManagementApi, I can't specify any grant type because grant_types is missing.

[2017-11-15 04:00] #158 closed

[2017-11-15 04:06] jerriep commented on #158
@federicoD Thanks for reporting this. I have pushed version 4.7.0 to NuGet which adds support for these.

[2017-11-15 20:11] SamHard opened #159 "The update models with Enums will modify properties that the user may not intend"
I was trying to update just one property using the `ClientUpdateRequest` model with `ManagementApiClient.Clients.UpdateAsync()`, but I found it was modifying additional properties.  All of the properties whose types are enumerations in the model are switching back to the first value in the enumeration, if not explicitly set.

The work-around is to always set the enumeration properties to the inten

[2017-11-15 23:21] SamHard opened #160 "No method exists for rotating a client secret"
There's no method in this client corresponding with the Management API action `POST /api/v2/clients/{id}/rotate-secret`.

[2017-11-20 03:10] #160 closed

[2017-11-20 04:09] #159 closed

[2017-11-20 04:58] jerriep commented on #160
@SamHard  I published version 4.8.0 to NuGet to address both this issue and #159

[2017-11-22 07:21] foman opened #161 "Missing ttl_sec property in EmailVerificationTicketRequest and PasswordChangeTicketRequest"

[2017-11-28 03:14] jerriep commented on #161
Closed via #162

[2017-11-28 03:14] #161 closed

[2017-11-28 03:27] jerriep commented on #161
@foman I pushed V4.9.0 to NuGet

Please note that I renamed your `ExpiresIn` property to `Ttl`. The reason being that many people look at the Management API docs, and then search for the corresponding property in the .NET SDK. `ExpiresIn` is very different, so I am afraid people would not easily make the connection, whereas `Ttl` matches well with the actual attribute required in the underlying AP

[2017-11-30 12:00] jaccus opened #163 "Management API UsersClient is missing a method for getting a list of Guardian enrollments"
This method is available on the v2 management API here [https://auth0.com/docs/api/management/v2#!/Users/get_enrollments](https://auth0.com/docs/api/management/v2#!/Users/get_enrollments) but is missing on the latest version of auth0.net [(Auth0.ManagementApi 4.9.0](https://www.nuget.org/packages/Auth0.ManagementApi/)).

[2017-11-30 12:42] jaccus opened #164 "Guardian property is hidden on ManagementApiClient even though, GuardianClient is available"
I would like to use Guardian client, but I don't want to deal with IApiConnection and stuff.

Please uncomment your code that was poorly "hidden" in [https://github.com/auth0/auth0.net/commit/faa7af5228ee3415a2e5381d220041a0513a21db](https://github.com/auth0/auth0.net/commit/faa7af5228ee3415a2e5381d220041a0513a21db) :)

Would also appreciate some info on why was this hidden? Is this a buggy functi

[2017-11-30 12:44] jaccus opened #165 "ApiConnection is not disposing of HttpClient properly, while requiring a dynamic token value in constructor"
Either let configure token dynamically, on method call (then can make the ApiConnection a singleton and keep it global), or properly dispose of it (since need to recreate clients as often as tokens expire, e.g., every few hours).

[2017-11-30 14:43] jerriep commented on #165
@jaccus I assume you are referring to `ManagementApiClient`?

I can look into adding a `SetToken` method which will update the token on the underlying `ApiConnection`. Will that work for you?

[2017-11-30 14:48] jerriep commented on #164
@jaccus It was hidden because the team working on that was reworking the Guardian API completely. At the time no version of the Auth0.NET SDK was yet released with that Guardian functionality, so I just commented it out instead of deleting it completely.

I will need to follow up with the Guardian team to find out the status of their APIs. I cannot just add it back until they give the go-ahead tha

[2017-12-01 00:10] jerriep commented on #164
@jaccus I received word back from Auth0 that a new Guardian API is forthcoming. So there is nothing we will do about this right now.

At the time when the new API is released I will do a proper update to support those new endpoints.

I will leave this issue open, but will close your PR for now

[2017-12-01 09:52] jaccus commented on #165
This goes back to me having to use Guardian features from the SDK. While the `Guardian` property was hidden on `ManagementApiClient` I started using `GuardianClient` directly, which in turn will cause memory leaks due to `ApiConnection` not disposing of `HttpClient`'s properly.

Since `ManagementApiClient` is using clients under the hood anyways, guess this issue does bubble up to `ManagementApiCl

[2017-12-01 09:56] jerriep commented on #165
*Please* do not use `GuardianClient`. Your code will break when I update that API.

Also, `HttpClient` should not be disposed. See https://stackoverflow.com/questions/15705092/do-httpclient-and-httpclienthandler-have-to-be-disposed and https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2017-12-01 10:00] jaccus commented on #164
So what you're basically saying is that you removed your Guardian v1 from SDK, before Guardian v2 was added, therefore you're making it impossible to work with Guardian v1 at this moment, even though it is the only way to deal with Guardian.

This does not sound like the right way to go about it - why not restore v1, and obsolete when v2 is available?

I can submit a support ticket via Auth0 tenan

[2017-12-01 10:11] jerriep commented on #164
The Guardian API was **never** added.

I was working on adding it and then asked the team working on that some questions about the implementation. The Product Manager for Guardian asked me to hold off on releasing it as they were reworking the API completely.

You can see the commits for that class here:
https://github.com/auth0/auth0.net/commits/faa7af5228ee3415a2e5381d220041a0513a21db/src/Auth0.

[2017-12-01 10:49] jaccus commented on #165
Yes it should not, but your current implementation (where you instantiate HttpClient inside of your ApiConnection) makes it necessary to update the token value.

[2017-12-01 10:56] jaccus commented on #165
Another thing is, if you encapsulate an instantiation of an IDisposable object in your constructor, it's a good practice to implement IDisposable yourself (in this case IApiConnection), where in the Dispose method you dispose of HttpClient.

[2017-12-01 10:59] jaccus commented on #164
I see your point, if it was never released like you say.

Looks like I'll be better off stealing and tweaking your GuardianClient implementation to my own code, until you provide the v2.

[2017-12-07 16:04] chrisrobertsoncypress opened #167 "GetActiveUsersAsync is deadlocking in ASP.NET context"
When I call .Wait() or .Result() on this method, it appears to deadlock in my Visual Studio debugger. The issue may be that the pattern is different in this method - you are are awaiting a result without ConfigureAwait(false) like you do in the rest of the patterns. So it is awaiting on my ASP.NET synchronization context (possibly). I can get this method to work by surrounding it in a Task.Run().

[2017-12-07 23:43] jerriep commented on #167
Why are you calling `Wait()` or `Result()` and not using `async` and `await` ?

[2017-12-08 16:19] chrisrobertsoncypress commented on #167
At some point in the future we probably will. We want to make them blocking for now until we have time to take a look at all of our code. Our code is MVC controllers using auto injected services which then call your code. I inherited a lot of code and I don't have time right now to make it all consistent. But that may be the right thing to do when I have time.

[2017-12-14 16:14] chrisrobertsoncypress commented on #167
Clarification of above: because you are not supposed to mix blocking and unblocking code, and so I would have to propagate async all the way through the Controller layer, and I don't have the time for that right now (and anyway I believe the ASP.NET pipeline is effectively single threaded because it uses a synchronization context).

[2018-01-05 18:05] amweiss opened #168 "oidc_conformant property missing from ClientBase"
For creating and updating clients we would like to set the `oidc_conformant` flag which is not available from the .NET client library.

[2018-01-08 02:27] #168 closed

[2018-01-08 03:29] jerriep commented on #168
@amweiss  Please grab the latest version from NuGet

[2018-01-08 03:29] jerriep commented on #167
@chrisrobertsoncypress Please grab the latest version from NuGet and let me know whether this resolves your issue

[2018-01-09 10:19] ritdaw commented on #163
+1

[2018-01-09 21:28] chrisrobertsoncypress commented on #167
The new code (4.10.0) still blocks. I think you might have to add these lines:

StatsClient.cs : line 31
+ ConfigureAwait(false)

and

AuthenticationApiClient.cs line 231
+ ConfigureAwait(false)

Because GetImpersonationUrlAsync() is also blocking for me (I didn't mention it originally).

All the other 30 or so methods I'm using work great!

With your changes everything still works fine. I think i

[2018-01-10 03:07] jerriep commented on #167
@chrisrobertsoncypress I think I have them all now 🤞

I pushed v4.3.1 and v4.10.1 to NuGet. When you get a chance you can check again.

[2018-01-11 00:52] chrisrobertsoncypress commented on #167
Yes, that makes both methods work!

Thanks.

[2018-01-11 00:52] #167 closed

[2018-01-11 00:54] jerriep commented on #167
Thanks for your feedback and your patience :)

[2018-02-12 12:21] huysentruitw opened #169 "Why do the NuGet packages depend on System.Net.Http and System.Net.Primitives"
In the nuspec files, the dependencies System.Net.Http and System.Net.Primitives are listed, but the projects itself don't need that dependency.

This gives all kind of problems in net462 / net471 scenario's see my [post on StackOverflow](https://stackoverflow.com/questions/48060230/system-reference-troubles-when-introducing-netstandard-library-dependency) which could be avoided if the Auth0 packag

[2018-02-13 07:52] huysentruitw commented on #169
Closing this one, also see discussion at https://github.com/auth0/auth0.net/pull/170

[2018-02-13 15:52] kinetiq opened #171 "Generate token for management API?"
I'm working on a basic web site, and I need to use the Management API to create some users.

After reading about tokens, I understand that the best practice in my case is probably to generate a new token periodically.

For generating tokens, some code is provided in the docs:

[code]

That's fine, but isn't this included in the API somewhere? I found AuthenticationApiClient.GetTokenAsync(), but it

[2018-02-14 00:51] jerriep commented on #171
You should use follow this guide to understand the basics of creating a token:
https://auth0.com/docs/api/management/v2/tokens

In C# you can then use the overload of `AuthenticationApiClient.GetTokenAsync` which takes an instance of `ClientCredentialsTokenRequest`, and pass along the Client ID and Secret of the client you created (as per the guide linked to above), as well as the audience for you

[2018-02-14 00:51] #171 closed

[2018-02-14 20:03] kinetiq commented on #171
Thanks for the example, that worked.

I did do a complete implementation based on that link, however as someone who is trying to make use of the C# APIs, this seems like a basic bit of guidance that would be helpful to include in the docs in the github repo.

A small bit of feedback for on that link, which I had already been working from: the guidance feels a little vague/confusing regarding how w

[2018-02-15 01:09] kinetiq opened #172 "Set roles with namespace, in a way that is compatible with guidance"
In UserCreateAsync, is there a way to configure roles that is compatible with MVC's role based auth?

I've been working off of this and some other docs:

https://auth0.com/docs/quickstart/webapp/aspnet-core/v2/04-authorization

I realize this could in theory be done using rules, but I have to create my users with Management API, and I would prefer to just set the role at that time. I've been strug

[2018-02-15 05:31] jerriep commented on #172
I would suggest adding the user's role to the `user_metadata` and then writing a rule which extracts it from the `user_metadata` and add it to a claim in the `id_token`.

You will then need to tell the OIDC middleware which claim contains the roles, same as we do in the code for that quickstart sample:
https://github.com/auth0-samples/auth0-aspnetcore-mvc-samples/blob/22acfe8f788e53ba7c54897881094

[2018-02-15 05:32] jerriep commented on #171
I gave your feedback to the documentation team. Thanks!

[2018-02-15 14:52] kinetiq commented on #172
Ok great,  that was helpful. For anyone else who comes after me, here's the rule I created:

[code]

Also, something stupid that wasted more time than necessary... Because the docs say that the namespace can be arbitrary, I set it to 'https://myinstance.auth0.com/roles' in both the script and, of course, the Auth0 config in my ASP.NET Core 2 project. That did not work and I had no idea what was wr

[2018-02-15 15:02] jerriep commented on #172
If you set the claim to `https://myinstance.auth0.com/role` in the rule and also set the `RoleClaimType` to that exact same name then it should work. If that does not work and you are 100% certain you configured everything correctly, then I suggest you open an issue with the ASP.NET team on the https://github.com/aspnet/security repo, since that is their source code

But before you do that please

[2018-02-15 15:02] #172 closed

[2018-02-15 15:34] kinetiq commented on #172
You are probably correct, objectively. I am out of time on this and moving on though. :) Thanks for the help.

[2018-02-22 14:01] VicSmith opened #173 "Get Users By Email In Auth0 Docs... Is it in auth0.net ?"
https://auth0.com/docs/api/management/v2#!/Users_By_Email/get_users_by_email

I need to check for the existence of a user in my Auth0 tenant.

I don't see a Get Users By Email Method in the Auth0.net package.

Is there a good way to do this using the users method?

[2018-02-22 14:10] VicSmith commented on #173
Never Mind... I did indeed find it.

.Users.GetUsersByEmailAsync(

[2018-02-22 14:10] #173 closed

[2018-03-09 02:12] babelshift opened #174 "Missing last_password_reset from Management API User model"
Using the Management API to get Users such as:

`https://arxdev.auth0.com/api/v2/users/auth0|5a84916f9e044748903a7e32`

Returns a User which optionally contains a `last_password_reset` field, but the User model in this library doesn't capture that data.

`"last_password_reset": "2018-02-27T14:14:29.206Z"`

[2018-03-12 10:34] jerriep commented on #174
@babelshift I'll look into this one for you

[2018-03-19 08:11] #174 closed

[2018-03-19 08:12] jerriep commented on #174
Will be in version 5.x, due out in the next couple of weeks

[2018-03-22 15:51] cpatterson26 opened #176 "Nuget package for Auth0.Core, Version=4.4.0.0 is not available"
The Auth0.AuthenticationApi, Version=4.4.0.0 [nuget package](https://www.nuget.org/packages/Auth0.AuthenticationApi/) has a reference to Auth0.Core, Version=4.4.0.0 which is not available.

The package specification lists a dependency on Auth0.Core, Version=4.0.2.0, however the Auth0.AuthenticationApi assembly throws the following exception:

Image from JustDecompile:

![image](https://user-images

[2018-03-22 23:15] jerriep commented on #176
@cpatterson26 Apologies for this. This is a great oversight on my side.

Please revert to version 4.3.1. I will release a new version (5.x) in the next few days which will fix the dependencies. Version 4.4 did not contain any fixes other than making 1 method as obsolete, so you can roll back safely.

[2018-03-23 03:35] jerriep commented on #169
@huysentruitw Can you please give 5.0.0-beta1 a try and let me know whether it resolves this issue for you?

[2018-03-23 14:17] huysentruitw commented on #169
@jerriep Yes, doesn't seem to add any unrelated dependency for .NET 4.7.1 now.

[2018-03-23 14:20] jerriep commented on #169
Excellent. I'll close this one then :)

[2018-03-23 14:20] #169 closed

[2018-03-29 15:50] yngndrw-sage opened #178 "Management API - Connection is missing metadata"
No connection metadata property is provided on the Connection model, making it impossible to retrieve:
https://github.com/auth0/auth0.net/blob/master/src/Auth0.ManagementApi/Models/Connection.cs
https://github.com/auth0/auth0.net/blob/master/src/Auth0.ManagementApi/Models/ConnectionBase.cs

[2018-03-30 02:34] #178 closed

[2018-03-30 02:40] jerriep commented on #178
@yngndrw-sage Version 5.1 has been pushed to NuGet to resolve this. Should be available on NuGet shortly

[2018-04-03 09:40] yngndrw-sage commented on #178
Thanks for the very quick turn-around @jerriep, the change works well.

[2018-04-03 13:05] yngndrw-sage commented on #165
The documentation page for this SDK suggests that the clients are not threadsafe and therefore shouldn't be shared:
http://auth0.github.io/auth0.net/#client-reuse-and-thread-safety

The issue with this is that there's no way to either clean-up or re-use the underlying ```HttpClient```. Maybe ```ApiConnection``` could be passed in to the API clients and token changing allowed ?

[2018-04-04 02:03] jerriep commented on #165
@yngndrw-sage

That is specifically related to when using the `GetLastApiInfo()` method which retrieves the status for the last API call. That particular "feature" has nothing to do with how we use or dispose of the `HttpClient` internally.

If you do not use that, then you can certainly use it in multi-threaded environments without issue.

[2018-04-04 09:28] yngndrw-sage commented on #165
Thanks for clarifying @jerriep, that makes sense. I can then use a custom ```HttpClientHandler``` to allow the access token to be changed / refreshed as required.

[2018-04-04 13:34] psxvoid opened #179 "Add ManagementAPI factory for initialization"
In order to use `ManagementApiClient` we have to initialize it (from documentation):

`var client = new ManagementApiClient("your token", new Uri("https://YOUR_AUTH0_DOMAIN/api/v2"));`

It would be nice to create a wrapper interface (e.g. `IManagementAPIClientFactory`) which should accept an `IConfigurationProvider` for initializing the client. Then we would have to inject `IManagementAPIClientFac

[2018-04-04 15:07] jerriep commented on #179
It appears you are using ASP.NET Core, right?

If so, I am not sure why you need a factory.  Using the built-in DI framework you can specify a delegate which instructs the DI framework how to construct a new instance of `IManagementApiClient`.

So, in your `ConfigureServices` method, do something like the following:

[code]

Or, if you need some values from configuration, ensure you inject `IConfi

[2018-04-05 12:14] psxvoid commented on #179
Yep, I am using AspNetCore.

The issue with this approach: `Configuration["Auth0:Token"]` cannot be retrieved via the configuration easily - the token expires via 24h (accordingly with the documentation: [Management API: Tokens (Auto)](https://auth0.com/docs/api/management/v2/tokens)).

So, we have to provide a service which should automatically provide a **valid** token to the `ManagementApiClien

[2018-04-05 12:25] jerriep commented on #179
Sorry, at this moment there are no plans to support the sort of integration you require with ASP.NET Core. You will have to write something yourself to put the pieces generate and cache the Management API tokens, and pass use it in the factory delegate for DI, or generate a new token once it has expired.

That being said, it might be worth your while to reach out to the [Auth0 support team](https:

[2018-04-06 17:30] babelshift opened #180 "EmailProviderCredentials uses wrong data type for SmtpPort"
This class:
https://github.com/auth0/auth0.net/blob/master/src/Auth0.ManagementApi/Models/EmailProviderCredentials.cs

Should have SmtpPort as an int. Currently, when using the EmailProvider ConfigureAsync method, the resulting JSON request sent to the Auth0 API is treating this as a string. Because of this, this error is returned:

[code]

[2018-04-06 19:37] babelshift opened #181 "Missing Client to Manage Email Templates"
The Auth0 Management API docs indicate this section of routes:
https://auth0.com/docs/api/management/v2#!/Email_Templates/get_email_templates_by_templateName

But the nuget package does not provide functionality around this.

[2018-04-08 14:40] robertmclaws commented on #179
@jerriep this is the second situation in a couple days where I've seen feedback about how Auth0's library is too complicated and your response has been lackluster. Auth0 was built on being *ridiculously simple* for developers, and the .NET libraries they used to ship were as comprehensive as possible. I know this because I helped fill in the gaps at the very beginning so it could Just Work.

If _e

[2018-04-08 15:13] jerriep commented on #179
@robertmclaws What you proposed with us registering the cookie middleware on behalf of the user goes completely **against** what every other piece of middleware out there does. Doing things which are not standard will cause **more** support issues, not **less**.

You are also conveniently leaving out the fact that I particularly requested input from @nicosabena on that one because from a support p

[2018-04-10 01:07] nicosabena commented on #179
Hi guys. Personally, I have to agree with Jerrie on this one. The concern of object creation shouldn't be part of the library itself, as this is best done by either simple boilerplate code or inversion of control/dependency injection frameworks. It would be a bad design decision to force one type of usage to users.
The factory interface itself might even be replaceable with a `Func<T>` on some fra

[2018-04-10 04:37] psxvoid commented on #179
Hi,

It's still possible to provide additional types of NuGet packages that can be supported by a community. The good example of it - AutoMapper library for AspNetCore:

[AutoMapper.Extensions.Microsoft.DependencyInjection](https://www.nuget.org/packages/AutoMapper.Extensions.Microsoft.DependencyInjection/)

It's not just another AutoMapper implementation. It doesn't break any AutoMappers "philoso

[2018-04-10 06:00] jerriep commented on #179
@psxvoid Many of Auth0's stuff is in fact "community supported", but hardly any contributions come from the community. Ultimately it comes down Auth0 employees.

It is nice to mention packages like `AutoMapper.Extensions.Microsoft.DependencyInjection`, but the Auth0 Management API SDK is no AutoMapper. It, in itself, does not even get those sort of number of downloads you are mentioning, so to poi

[2018-04-10 07:09] psxvoid commented on #179
@jerriep Yep, we should consider business value of the feature and further implications it introduces.

Regarding your question about reaching out Auth0 support - we've already implemented this type of a factory - it request the token and initialized the client. And we pushed it to a private NuGet feed in order to share between microservices. But it's not very convenient to support it on our own -

[2018-04-17 04:45] jerriep commented on #176
Version 5.0 was released which fixes this

[2018-04-17 04:45] #176 closed

[2018-04-18 02:24] #180 closed

[2018-04-18 02:29] jerriep commented on #180
@babelshift I had to change it to a nullable int. This is to ensure that it is not always serialized. For example, if you configure the email provider as **mandrill**, then the `smtp_port` should not be set, otherwise it will also throw an error.

This change will go out in the next minor release. Thanks for reporting!

PS: The correct solution should be to create strongly typed `credentials` clas

[2018-04-18 02:32] jerriep opened #183 "Create strongly typed EmailProviderCredentials"
When sending `credentials` in the payload for configuring an email provider, the Management API checks that the correct credentials are passed, based on the provider.

The correct, long-term solution for this is to create strongly typed `EmailProviderCredentials` classes for each and every provider.

See for more discussion on this #180

[2018-04-18 02:33] #62 closed

[2018-04-18 08:12] jerriep commented on #181
@babelshift Version 5.2.0 adds this functionality. I pushed the new release to NuGet and it should be available for you to install in about 10-20 minutes

[2018-04-18 08:12] #181 closed

[2018-04-23 22:32] mattstewart opened #184 "Unable to deserialize response when getting user log events with includeTotals: false"
The code:

[code]
Returns no log entries for the user. During deserialization, the PagedListConverter class is looking for a "_collectionFieldName" of "logs", which does not exist in the API response.

Upon further investigation it seems that the entire structure of the data returned from APIv2 when `include_totals=false` is passed is completely different. For example...

[code]
...returns a logs

[2018-04-24 01:39] jerriep commented on #184
@mattstewart Is there actually data being returned by that API call?

Your C# code sample sends extra parameters which you do not appear to be sending when you call the endpoint directly.

To try and track this down, please inspect the request and response of the API call made by your C# application in something like Fiddler and see whether the actual payload returned from Auth0 contains entries.

[2018-04-24 01:56] jerriep commented on #184
@mattstewart Please ignore my last email...

As you correctly noted, the structure is very different from what the C# SDK expects. It expects an array, but it gets an object structure. I will need time to investigate how to deserialize that correctly, so I may not have a fix for you very quickly.

For now, to work around this and get the log entries for a user, you can use the normal logs endpoint

[2018-04-24 02:02] jerriep commented on #184
Or if you need to use `Users.GetLogsAsync` then set `includeTotals` to true (until I can fix this...)

[code]

[2018-04-24 02:37] #184 closed

[2018-04-24 02:47] jerriep commented on #184
@mattstewart Please grab version 5.3.0 which solves this bug

[2018-04-24 16:40] mattstewart commented on #184
@jerriep Thank you for the quick turnaround! I can confirm that the issue has been addressed in v5.3.0.

[2018-04-29 04:46] yoichiro-manabe opened #185 "Auth0.AuthenticationApi nuget package can't download."
I tryed to install `Auth0.AuthenticationApi` via nuget on mac. But can't installed with below error.

[code]

Is this package  enables on dotnet core2 ?

[code]

thanks.

[2018-04-29 05:26] jerriep commented on #185
@yoichiro-manabe Yes, it works on .NET Core 2.0 applications. See below from my own computer:
<img width="1082" alt="screen shot 2018-04-29 at 12 25 17" src="https://user-images.githubusercontent.com/1006420/39403527-845d142c-4ba8-11e8-98ec-acdbf31f41b3.png">

It could be that perhaps there is an issue with your internet connection to Nuget?

[2018-04-29 05:46] yoichiro-manabe commented on #185
@jerriep Thank you for your reply.

After I make a new project and add thhis package, it went well. So my project is any trouble.

[2018-04-29 05:46] #185 closed

[2018-04-29 07:06] yoichiro-manabe commented on #185
I made a mistake in nuget config, but it workd fine fix it. Thank you.

[2018-05-04 13:49] pushpabrol opened #186 "relayState for SAML Authentication request is using incorrect case"
The withRelayState method should add a parameter with the correct case - 1RelayState` not `relayState`. This causes RelayState to not be passed into the authentication request.

https://github.com/auth0/auth0.net/blob/2d7e92c2abcdcf3aea2173145a4191376125aa19/src/Auth0.AuthenticationApi/Builders/SamlUrlBuilder.cs#L40

https://github.com/auth0/auth0.net/blob/2d7e92c2abcdcf3aea2173145a4191376125aa19/

[2018-05-07 01:34] #186 closed

[2018-06-15 07:46] mortenab opened #187 "Add GetLastApiInfo to IAuthenticationApiClient"
The Authentication API is subject to rate limiting (https://auth0.com/docs/policies/rate-limits) but the `IAuthenticationApiClient` does not expose the `ApiInfo` information directly.

Currently we have to do something like this:
[code]
It would be nice if it was available directly on the `IAuthenticationApiClient` interface, just like it is on the `IManagementApiClient`

[2018-06-15 16:51] yngndrw-sage opened #188 "Management API - Error when creating client with client_credentials grant types"
Hello,

I'm receiving the following error when creating a client with a `client_credentials` grant type: `Auth0.Core.Exceptions.ApiException: Invalid grant types: client_credentials`
[code]

If I try to create the same client via the API Explorer, it works correctly:
[code]

Thanks,
-Andrew.

[2018-06-18 03:10] prabhuraaj101 opened #189 "Not able to find ttl property in PasswordChangeTicketRequest class"
Hi, I was trying to set expiry time for password reset ticket that is generated using PasswordChangeTicketRequest class. I was not able to assign ttl value as the class does not have that property. I upgraded to different versions of auth0 Management library, especially versions later than 4.9.0, and had no luck. Please help me fix this.

I also came across the commit https://github.com/auth0/auth

[2018-06-18 03:43] jerriep commented on #189
@prabhuraaj101 Yes, you should use the `ExpiresIn` property to set the `ttl_sec` value.

Can you please explain what is not working? Is the property sent to the API? Can you verify this with Fiddler?

[2018-06-18 03:51] prabhuraaj101 commented on #189
My intention is to set a custom expiry date for the reset password ticket.

I know for this I need to set the ttl_sec.. But I dont find the property in PasswordChangeTicketRequest.

I am attaching a screenshot.. hope it helps.

![image](https://user-images.githubusercontent.com/24266836/41517503-82939376-730f-11e8-8b57-6192f3051add.png)

[2018-06-18 04:02] jerriep commented on #189
@prabhuraaj101 Please see the screenshot from my computer. I see the property is `Ttl`. Using v5.5.0 of the package:

![image](https://user-images.githubusercontent.com/1006420/41517672-db88af30-72e6-11e8-89da-62dfdf970ef9.png)

Are you sure you are using the latest version of the NuGet package and that it is referenced in your project correctly?

[2018-06-18 04:40] jerriep commented on #189
No, I do not think DI has anything to do with it. That property is on the `PasswordChangeTicketRequest` class which you are instantiating directly. Please verify that you are referencing the correct version in your project.

![image](https://user-images.githubusercontent.com/1006420/41518383-5305c674-72ec-11e8-9bd9-4152a961c18b.png)

Not referencing the correct version is the only reason that I ca

[2018-06-18 04:43] prabhuraaj101 commented on #189
It looks to referenced to 5.5.0.. dont know what I am missing still

![image](https://user-images.githubusercontent.com/24266836/41518466-c4cd1d14-7316-11e8-880b-dfd37677efd6.png)

[2018-06-18 04:52] prabhuraaj101 commented on #189
Btw I am using dotnet core.

[2018-06-18 04:55] jerriep commented on #189
My screenshots are also from .NET Core.

I honestly do not know what to tell you... Any chance you can give me access to your source code?

[2018-06-18 05:16] prabhuraaj101 commented on #189
I am afraid I can't at this moment due to company's security policies. But wondering is there any other way to set ttl on auth0(I know this may really not be the question to ask here)..

[2018-06-18 05:19] jerriep commented on #188
@yngndrw-sage Please set the `TokenEndpointAuthMethod` to `TokenEndpointAuthMethod.ClientSecretPost`

[code]

[2018-06-18 05:19] #188 closed

[2018-06-18 05:53] #187 closed

[2018-06-18 06:01] jerriep commented on #187
@mortenab Thank you for reporting this. I have pushed v5.6.0 to NuGet which adds `GetLastApiInfo()` to `IAuthenticationApiClient`. Should be available shortly.

[2018-06-18 06:16] prabhuraaj101 commented on #189
You are right about dll not being referenced with proper reference.

Looks my framework version has some incompatibility with latest version of the auth0 package.

I am doing

Update-Package -Reinstall

[2018-06-18 06:40] jerriep commented on #189
That class has been moved to a new namespace when we migrated from v3.x to v4.x. See http://auth0.github.io/auth0.net/migrating.html

[2018-06-18 06:41] jerriep commented on #189
I am closing this issue as it appears to be an issue on your side with the incorrect DLL versions being referenced.

[2018-06-18 06:41] #189 closed

[2018-06-28 16:01] davidallyoung commented on #165
Hey guys, sorry I'm kicking tires on something that looks settled, but I wanted to ask about ensuring we're not going to run into socket exceptions if we can't control the lifetime of the HttpClient that is directly instantiated on every instantiation of the Client. I see that previously this was discussed, and that the client could be used as a singleton as long as you don't call a specific metho

[2018-07-05 00:48] jerriep opened #192 "Rethink use of HttpClient"
As per discussion with Nico Sabena, we should look at implementing `IDisposable` and disposing of `HttpClient`. As part of #190 we will allow users to manage lifetime of `HttpClient` outside of the `ManagementApiClient` and `AuthenticationApiClient` classes

Also read:
https://www.red-gate.com/simple-talk/dotnet/c-programming/working-with-the-httpclient-class/
https://leastprivilege.com/2018/06/18

[2018-07-06 13:03] IlSocio opened #193 "LoginRequestQuery in ManagementApi is missing the Audience field"
https://github.com/auth0/auth0.net/blob/v4/src/Auth0.ManagementApi/Models/Rules/LoginRequestQuery.cs

I'm using an Auth0 rule to call my own webapi endpoint in order to customize id_token and access_token.

My webapi endpoint takes in input the RulesRequest, unfortunately, the Audience field is missing in this structure, despite Auth0 properly sends the information

Does exists an alternative way

[2018-07-09 02:20] #193 closed

[2018-07-09 03:00] jerriep commented on #193
Version 5.7.0 is now published with these changes

[2018-07-09 17:30] rokonec opened #194 "Invalid escaping of URL segments containing #"
**Actual behavior:**
UserClient.GetAsync("waad|id#with#hashes) throws user does not exists exception

**Expected behavior:**
UserClient.GetAsync("waad|id#with#hashes) works just fine :-)

**Possible root cause:**
Problem is in Utils.BuildUri where segments are simply escaped by Uri.EscapeUriString
which consider # as valid URI char but # is not valid in URL segments (resource id).

**Proposed solu

[2018-07-10 07:00] jeson114 commented on #138
+1
I am unable to see the groups  for Azure AD .

[2018-07-10 07:02] jerriep commented on #138
@jeson114 Can you please supply more information about your particular scenario? Did you follow the steps I outlined above?

[2018-07-10 07:09] jeson114 commented on #138
So i created an AD connection using [docs](https://auth0.com/docs/connections/enterprise/azure-active-directory/v2).
Using the test button i was successfully able to login using my AD creds .
I also enabled the Auth0 extension API with WebTask logs enabled (Also enable groups,roles,permisssion merge from AD in the extension ). The user object in the Rule did not contain groups or roles so that i c

[2018-07-10 10:39] jerriep commented on #138
@jeson114 So it appears as though the Azure groups are not coming through in the ID Token. It is not a problem with this library as such.

Check out the [AD Connector docs on Profile Mapping](https://auth0.com/docs/connector/modify#profile-mapper)

If that does not help you, please reach out on the [official Auth0 Support channel](https://support.auth0.com/). I can not assist you with the AD conne

[2018-07-10 12:48] jeson114 commented on #138
Thanks @jerriep . So what i did was, manually ran a rule that runs a request against azure to get membership .  I can then get the groups from that response . That might be a problem with the call that Auth0 is making to azure .

[2018-07-10 13:06] jerriep commented on #138
@jeson114 Can you please explain why we need to open this issue?

My understanding of the situation is that the problem is that AD groups are not being populated in the actual ID Token being returned from Auth0, right?

In that case, the issue is not with this library but on the Auth0 authentication side.

Unfortunately, I am not an Auth0 employee, so if my understanding is correct then I cannot h

[2018-07-16 04:51] #194 closed

[2018-07-16 05:33] jeson114 commented on #138
Ah my bad sorry . I didn't notice this repo was the library. I jumped head first here . Thanks @jerriep

[2018-07-18 21:39] finsterdexter commented on #179
As someone who had to figure this out myself, and write the token factory myself, this is a sorely needed feature and one which would increase the value of these client libraries immensely.

[2018-07-20 10:45] jaccus opened #198 "Users.UpdateAsync ignores null fields, therefore not allowing to delete metadata properties"
According to [Auth0 docs](https://auth0.com/docs/metadata/apis) to delete a metadata property one should set it to null in the PATCH request:

![image](https://user-images.githubusercontent.com/1523038/42998321-15248312-8c1a-11e8-8f49-153b42021230.png)

`UsersClient.UpdateAsync` in auth0.net however, down in the `ApiConnection.cs` ignores NULL values, making deleting fields impossible:

![image](h

[2018-07-21 15:01] babelshift opened #199 "Exception when getting clients for a tenant with Salesforce addons"
I have a tenant with a Salesforce SSO addon. This allows for the creation of clients with "app_type" of "salesforce". Attempting to get these clients via the Management API Client results in the following error:

[code]

Example JSON response from the Auth0 API:
[code]

[2018-07-23 02:14] jerriep commented on #198
@jaccus The check to ignore nulls was added because on some API endpoints, null values were passed and Auth0 did not like that. So I will have to turn this on on specific endpoints only. Will look into this.

[2018-07-23 08:49] jaccus commented on #198
thanks @jerriep !

Can you think of any workaround for this that does not involve manually calling the REST endpoints?

[2018-07-23 10:52] jerriep commented on #198
I don't think so. Unless (and until) I fix it, the only "workaround" is to call those endpoints manually.

[2018-07-24 01:32] #199 closed

[2018-07-24 02:00] jerriep commented on #198
@jaccus I just looked into this one in more detail, and the updating of user metadata is not affected by the null-checking you are referring to. I tested and I can indeed clear `UserMetadata` by setting the individual metadata attributes [as you can see in my unit tests](https://github.com/auth0/auth0.net/blob/bc8b036bf4be7f624c583a0fda51cae6c5b9af2a/tests/Auth0.ManagementApi.IntegrationTests/User

[2018-07-24 07:44] jaccus commented on #198
@jerriep I just tried your solution with an `ExpandoObject` it works despite of the null ignore setting so it's a great workaround!

If you However try using a typed object, it will not work:

[code]

[2018-07-24 10:31] jerriep commented on #198
@jaccus I think you're issue is not with the lines of code which you pointed out originally in `ApiConnection`. The problem, I believe is that the `Color` does not get serialized by JSON.NET if it is null, so the payload which gets sent to Auth0 is as follows:

[code]

If you want the `color` attribute of `user_metadata` to be cleared, you need the following to be sent:

[code]

This means your ne

[2018-07-24 11:55] jaccus commented on #198
You are very much right @jerriep - `NullValueHandling` on properties worked like charm. Thanks for helping out!

[2018-07-24 11:59] jerriep commented on #198
No problem, glad it is sorted!

[2018-07-24 11:59] #198 closed

[2018-07-25 07:42] Vaskinn opened #200 "Expose server time from headers through GetLastApiInfo"
We're having a service that we want to automatically slow down its requests if we reach auth0 rate limits. Unfortunately we cannot make use of `GetLastApiInfo().RateLimit.Reset` because server time from Date header in the reponse isn't easily available to compare it to.

I suggest adding a date property to `ApiInfo` and setting its value in `ApiInfoParser.Parse()`

If you agree this is a useful id

[2018-07-25 08:10] jerriep commented on #200
The time given back in `GetLastApiInfo().RateLimit.Reset` it the UTC time. So you can just convert your own server's time to UTC and then figure out the difference.

Will that now work for you?

[2018-07-25 08:16] Vaskinn commented on #200
Unfortunately using the time from `Reset` alone needs the time on our server to be perfectly in sync with the time on the auth0 servers. I don't think I can trust them to be. It feels a lot safer to use the difference between two time values that are both provided by the same server.

[2018-07-26 02:44] #200 closed

[2018-07-26 04:56] jerriep commented on #199
@babelshift Version 5.8.0 has been pushed to NuGet with this fix and will be available for you to install shortly

[2018-07-26 04:57] jerriep commented on #194
@rokonec Version 5.8.0 has been pushed to NuGet with this fix and will be available for you to install shortly

[2018-07-26 12:19] seckford opened #202 "ApiInfo not updated after error"
I'm running into an issue in a multi-threaded app where calling GetLastApiInfo on ManagementApiClient returns null on a 429 rate limit error after the rate limit is hit on another thread.

Looking at the source for ApiConnection, in the RunAsync method, it looks like HandleErrors is throwing before ExtractApiInfo is called to populate the ApiInfo property.
[code]
Should the call to ExtractApiInfo

[2018-08-01 02:54] #202 closed

[2018-08-01 03:28] jerriep commented on #202
@seckford I pushed v5.9.0 to NuGet to resolve this issue. Thank you for reporting 👍

[2018-08-02 23:38] lukelengl opened #203 "ManagementApiClient.Users.GetAsync does not work for Azure AD users"
Getting the following `Newtonsoft.Json.JsonSerializationException` when attempting to get a user from `ManagementApiClient.Users.GetAsync`:

Message:
[code]

Stack Trace:
[code]

[2018-08-06 01:38] jerriep commented on #203
@lukelengl I just tested this and I do not get any error. I will need to see the actual JSON payload being returned from that API call to try and determine why it cannot be deserialized properly.

Can you please use a tool like Fiddler to monitor the network traffic when executing that API method, and then capture the JSON payload being returned from Auth0 and send that to me?

It will probably co

[2018-08-22 13:08] darkengines opened #204 "AccessTokenSecret is missing in Auth0.ManagementApi.Models.Identity"
This field is required to use the twitter api.
Dispite the fact it is returned in the `GetUserAsync `response (as `access_token_secret`), the property `AccessTokenSecret` is missing from the identity model.

[2018-08-28 07:38] jerriep commented on #204
@darkengines Thank you for reporting. This will be in the next release, hopefully later this week

[2018-08-29 20:39] ckittel commented on #179
Does anyone here have a token refresh factory they would feel comfortable sharing as a starting point for one of our new implementations?  I'd like to compare notes.

[2018-09-03 11:31] chessar opened #207 "A strongly-named assembly is required."
Could not load file or assembly 'Auth0.Core, Version=5.10.0.0, Culture=neutral, PublicKeyToken=null' or one of its dependencies. A strongly-named assembly is required. (Exception from HRESULT: 0x80131044).

Please sign with strong name key Auth0.AuthenticationApi, Auth0.ManagamentApi, Auth0.Core and Auth0.AspNet

[2018-09-03 16:44] chessar commented on #207
When using this NuGet package (strongnamer), the specified error occurs when you try to call [AuthenticationApiClient.GetTokenAsync](https://github.com/auth0/auth0.net/blob/master/src/Auth0.AuthenticationApi/AuthenticationApiClient.cs#L253)

[2018-09-04 04:42] chessar commented on #207
Yes, I followed the directions.

All three assemblies (Auth0.AuthenticationApi, Auth0.ManagamentApi, Auth0.Core) that I use in my application are signed during the build. But getting the result after GetTokenAsync, at the moment of deserializing the response, the specified error occurs.

[2018-09-04 14:40] robertmclaws commented on #207
What "specified" error, the "cannot load" error?

[2018-09-04 15:27] chessar commented on #207
Yes, Could not load file or assembly 'Auth0.Core, ....

[2018-09-04 18:10] robertmclaws commented on #207
Are you positive that assembly is signed? Are you also positive that the error isn't something else and you're just not reading it clearly? Would be helpful if you posted both the unsigned and the signed error messages in their entirety, including stack traces.

[2018-09-04 18:27] chessar commented on #207
Assemblies Auth0. *.dll in the bin folder of my application is signed. In the near future, I'm trying to create a minimal application that reproduces, and also attach stacktrace

[2018-09-05 06:05] chessar commented on #207
Exception Stack trace

[code]

[2018-09-05 15:42] robertmclaws commented on #207
So it looks like internal assembly references by not have been re-written (look at the reference string, it doesn't have a PublicKeyToken in it.

Try this one instead: https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/ This NuGet package is in active development, and any signing issues you can work through with them.

[2018-09-06 12:44] junaidahmed92 commented on #179
Is there anyway to create a separate class that will fetch access_token via AuthenticationApi and use that token in initialization of ManagementApiCLient? Something like
new ManagementApiClient(Token.GetAccessToken(), "Domain" ); ?

[2018-09-06 13:39] finsterdexter commented on #179
@ckittel Here's the token factory I use:

https://gist.github.com/finsterdexter/5e74b3bd4af8052ae6da4850af5e2124

I add that class to DI in startup via AddSingleton. It will hold onto a token for the lifetime of the class, and only fetch a new one if the service is restarted or if the token expires. This factory is then used as a dependency on controllers that need to interact with the Management

[2018-09-07 08:00] chessar commented on #207
Hello @robertmclaws,

I tried package [Brutal.Dev.StrongNameSigner](https://www.nuget.org/packages/Brutal.Dev.StrongNameSigner/). He did not help - the same error.

[2018-09-13 17:07] chrisrobertsoncypress opened #209 "AuthenticationApiClient.GetTokenAsync() is deadlocking in ASP.NET context when using Result()"
Can you go to AuthenticationApiClient and everywhere there is an 'await' keyword can you put ConfigureAwait(false) at the end?

I usually just do a text search when writing my own code.

It looks like these were in version 4 but got taken out of version 5. Version 5 is what Nuget recommends everyone update to. When I updated it started deadlocking.

Thanks!

[2018-09-22 06:29] seshupapolu opened #211 "Pagination is not working in Auth0.ManagementApi.Clients.UsersClient.GetAllAsync(GetUsersRequest request, PaginationInfo pagination)"

[2018-10-25 22:44] nfiles commented on #183
Is this issue still needed? I'll take a look at it if someone can point me to documentation for email providers.

[2018-10-26 02:08] nfiles commented on #211
Can you provide any more details on this issue, @seshupapolu?

[2018-11-06 15:14] PlanetPayDave opened #223 "Users.CreateAsync generates exception"
I have the following code to create a user

[code]

and the code is generating an exception with the following message

The code has previously worked, however we have not created users for some time and now the code fails.  I have checked the Management API scope and create users is included, the application has the required connection included also.

I have updated to the latest NuGet packages,

[2018-12-13 22:46] adriangodong commented on #179
Chiming in, I have the same problem.

I'll write a Nuget package to handle this, but as a rough requirement:
* Server-side factory of `IManagementApiClient`
* Can be used in async methods
* Can be used in sync methods
* DI-friendly
* Automatic token rotation/refresh

[2018-12-14 21:14] adriangodong commented on #179
Here you go
https://www.nuget.org/packages/FriendlySpork

[2018-12-20 16:17] dmarjoram opened #224 ""token_lifetime_for_web" property missing from ResourceServer and ResourceServerBase class"
It's currently not possible to use set or update the token expiry for browsers via the SDK due to the token_lifetime_for_web JSON property not having an associated property in the ResourceServer and ResourceServerBase classes.

Can these please be added.

I see someone has already created a pull request for this here:
https://github.com/auth0/auth0.net/pull/208

[2018-12-29 16:55] dapug opened #227 "No passwordlessLogin / verification"
StartPasswordlessSmsFlowAsync exists and works.  But then there is no PasswordlessLogin to complete the process.   Is this by design? And if so, why even have the Start method?

https://auth0.com/docs/libraries/auth0js/v9#verify-passwordless

[2019-01-14 14:44] jmn8718 commented on #224
the PR has been merged

[2019-01-17 15:39] PlanetPayDave opened #228 "Use of BuildAuthorizationUrl"
Hello

I am currently using the `BuildAuthorizationUrl ` in my C# MVC account controller login function to build the URL for login, the domain name I pass to the function is _ourdomain_.eu.auth0.com.

I am trying to change the colour of the login button, is this possible using the `WithValue` function of `BuildAuthorizationUrl ` in the same way it is possible to select a new logo or do I have to d

[2019-01-21 18:39] theflamme opened #231 "Missing mark_email_as_verified field in PasswordChangeTicketRequest"
According to API docs, there should be a "mark_email_as_verified" boolean field for PasswordChangeTicketRequest. It is missing for now.

https://auth0.com/docs/api/management/v2#!/Tickets/post_password_change

[2019-01-23 16:59] damieng commented on #209
Checked in for the next release.

[2019-01-23 16:59] #209 closed

[2019-01-23 18:08] robertmclaws commented on #209
Might want to add the `Microsoft.CodeQuality.Analyzers` NuGet package to the projects... catches this and other issues automatcially.

[2019-03-14 18:50] #165 closed

[2019-03-20 03:48] damieng commented on #163
Will track Guardian on #164

[2019-03-20 03:48] #163 closed

[2019-03-20 04:04] damieng commented on #203
Closing no response.

[2019-03-20 04:04] #203 closed

[2019-03-20 04:04] #224 closed

[2019-03-20 04:05] damieng commented on #224
Shipped in 5.11.0 (out now)

[2019-03-20 04:08] damieng commented on #228
Hi there.

The login itself as you noticed is actually performed by auth0.com using our lock.js solution.  Full details about customizing that can be found here https://auth0.com/docs/libraries/lock/v11/configuration

[2019-03-20 04:08] #228 closed

[2019-03-20 04:27] damieng commented on #223
Did you manage to solve this problem?  The auth0.net library does not perform this level of authorization checking itself so it must have been coming from the server.  Were you able to check the claims within the token it was using to ensure `create:users` was there?

[2019-03-20 04:27] damieng commented on #211
No response.

[2019-03-20 04:27] #211 closed

[2019-03-20 07:30] PlanetPayDave commented on #223
I had forgotten I had raised this issue, it was so long ago.  It is probably fixed now

[2019-03-20 07:30] #223 closed

[2019-03-21 00:22] damieng commented on #227
[The `password/verify` feature has not been available for new tenants since June 2017](https://auth0.com/docs/api/authentication#authenticate-user) so we have no plans to further expose it in SDK APIs.

[2019-03-21 00:22] #227 closed

[2019-03-23 06:39] ShawInnes opened #242 "New Roles endpoints are not implemented in Management API client"
The following points exist and are not yet implemented in the .net client:

### Basic CRUD
- GET /api/v2/roles
- POST /api/v2/roles
- PATCH /api/v2/roles
- DELETE /api/v2/roles

### Users
- GET /api/v2/roles/{id}/users
- POST /api/v2/roles/{id}/users

### User-centric Roles Endpoints
- GET /api/v2/users/{id}/roles
- POST /api/v2/users/{id}/roles
- DELETE /api/v2/users/{id}/roles

### Prerequisites

[2019-03-26 18:21] #231 closed

[2019-03-26 18:21] damieng commented on #164
Merged in, will be in next release.

[2019-03-26 18:21] #164 closed

[2019-03-27 03:34] #242 closed

[2019-03-29 20:54] #192 closed

[2019-03-31 15:59] christophano opened #246 "Permissions endpoints"
I see that role endpoints were recently included (#241), but this change didn't include the permissions endpoints that exist on roles and users. Are there any plans to include them?

[2019-04-02 14:45] Rixi2203 opened #249 "Https"
In order to efficiently and accurately address your issue or feature request, please read through the template below and answer all relevant questions. Your additional work here is greatly appreciated and will help us respond as quickly as possible. Please delete any sections or questions below that do not pertain to this request.

For general support or usage questions, please use the [Auth0 Comm

[2019-04-02 17:37] damieng commented on #249
This is our default template with no details filled in.  If you re-edit this issue with actual details I will reopen.

[2019-04-02 17:37] #249 closed

[2019-04-02 17:37] damieng commented on #246
Merged in for 6.0 - thanks for spotting this.

[2019-04-02 17:37] #246 closed

[2019-04-02 17:40] damieng commented on #179
As the Auth0.Net library can be used across a variety of the .NET standards and platforms there are no immediate plans to add this functionality.

As customers move to .NET core and away from .NET desktop we will re-evaluate this decision.  For now it is relatively simple to work around as the various suggestions have helpfully illustrated.

[2019-04-02 17:40] #179 closed

[2019-04-02 19:20] christophano commented on #246
Fantastic stuff! I've been working off a fork where I implemented this (on roles, at least) to get me going, but I'm pleased that official support is on its way!

[2019-04-05 18:52] carusology opened #250 "How to test this package in 6.X+?"
### Description

We've been using the `5.X` versions of this package for some time as part of our user management workflows in our ASP.NET Core v2.1 product. We have built unit tests over those libraries by mocking the various `I*Client` interfaces such as `IConnectionsClient`, `IUsersClient`, etc. Now I see the interfaces are retired, and I don't understand why.

The [nuget page](https://www.nuge

[2019-04-05 19:23] damieng commented on #250
Sorry the link to the migration guide was accidentally pointing to the release PR branch, it should have been pointing at master http://auth0.github.io/auth0.net/migrating.html

The problem with having these interfaces is that we can not add a single endpoint without it being a breaking change.  e.g.

- We add permissions... that's three more methods on IRolesClient.  Which is a breaking change.
-

[2019-04-05 20:08] carusology commented on #250
Thanks for the prompt and empathetic response, @damieng.

I have to disagree here and say this is a strawman.

If I don't implement these interfaces, my code would actually continue to compile. To use the example you gave, I don't care about guardian or role particular changes, and since I don't implement those interfaces, my code would still have compiled as the interfaces I did not care about ar

[2019-04-05 22:22] damieng commented on #250
There are three scenarios:

1. Did not use any interfaces - this change breaks nothing
2. Use IManagementApi - this release would have broken you whether we removed the interfaces or not
3. Used IRolesClient - this release would have broken you regardless
4. Used select I*Client interfaces except IRolesClient

The only scenario where interface removal caused pain that wouldn't have broken otherwis

[2019-04-09 19:08] sofiaprice opened #251 "Group Client"
I am planning to use Auth0 to manage groups of users, and associate these groups with roles, since I noticed it is a new feature of Auth0 and thought I should take advantage of it! I can see the role client has been added quite recently, and wondered if and when there are plans to add a similar client for Group management?

[2019-04-09 22:58] damieng commented on #251
Hi.

As we have many SDKs and an ever-evolving management API we've been adding and updating individual SDKs on a somewhat ad-hoc basis depending on customer demand.

We plan on automatically code-generating much of the API in the future so that new endpoints automatically appear in all our management SDKs but this is still some way off.

Do you know specifically which endpoints you are looking fo

[2019-04-10 14:57] sofiaprice commented on #251
Hi,

Thanks for getting beck to me.

Yes, it was the two endpoints listed there, along with additional capacity for adding, removing creating groups (which I am aware is only supported by the Authorization Extension API).

For now I will just write my own small client for the endpoints, as that fits the time I have available better.

Thanks again for your response!

[2019-04-10 21:00] damieng commented on #251
If you follow the pattern in auth0.net it should be pretty easy.  We'd also accept a PR :)

[2019-04-28 10:59] strich opened #252 "Using manual AuthenticationApiClient appears to use wrong redirect"
### Description

I use the standard way of implementing Auth0 in my ASP.NET Core 2.2 project and it works fine. However I also have a feature in the webapp where I allow logged in users to specify another Google account (via Auth0) whereby it is used to perform Google Analytics (GA) actions offline. I do this by making the logged in user attempt another login action to setup the Analytics access a

[2019-04-29 06:19] jussimattila commented on #171
The docs I followed still point to manually creating the request using RestSharp. Please include this information in the docs, had to Google to find this simple solution.

[2019-04-29 16:27] damieng commented on #171
@jussimattila which url still contains the RestSharp reference?  I can't seem to find it.

[2019-05-15 17:49] belizar opened #261 "GetAllUserAsync [Not Found]"
### Description
I want to get all users.

### Prerequisites

[ x] I have checked the [documentation for this library](https://auth0.github.io/auth0.net/).

[ x] I have checked the [Auth0 Community](https://community.auth0.com/) for related posts.

[x ] I have checked for related or duplicate [Issues](https://github.com/auth0/auth0.net/issues) and [PRs](https://github.com/auth0/auth0.net/pulls).

[

[2019-05-16 02:29] facu-larocca-zenfolio opened #262 "Google Login - How to set access_type=offline"
### Description

I need to interact with Google Calendar API, in order to do so, I need my users to login with Google so that I can get google `access_token`. I can achieve that and it is actually working. Once I've got the user logged in with Google, I can query the user's profile and get `google-oauth2` identity as stated [here](https://auth0.com/docs/connections/calling-an-external-idp-api).

T

[2019-05-17 12:25] jussimattila commented on #171
Sorry for the delay, missed the notification. I followed the documentation available within the portal:

![image](https://user-images.githubusercontent.com/8625258/57927802-d5091000-78b7-11e9-9b4f-2e85263560d6.png)

[2019-05-20 17:14] damieng commented on #261
I'm running one of the integration tests here that runs the exact same call and not seeing this error:

![image](https://user-images.githubusercontent.com/118951/58039549-efc1cb80-7ae7-11e9-9192-07b6aa5e0597.png)

Are you going through a proxy?
Do any of the other APIs work?

[2019-05-21 12:49] belizar commented on #261
I dont use a proxy and the other APIs works correctly

[2019-05-22 01:42] damieng commented on #261
I've not been able to reproduce this issue.

[2019-05-22 13:10] robert-mccausland opened #263 "Unable to update given_name, family_name or name of user"
### Description

I am trying to update the `family_name`, `given_name` and `name` of users though the management API, these are listed as available in the [api documentation](https://auth0.com/docs/api/management/v2#!/Users/patch_users_by_id), but I cant find the option in the `UpdateUserRequest` model. I think this is a similar issue to #77 but with the update API instead.

Would it be possible t

[2019-05-22 19:44] belizar commented on #261
In your code, Where you set the auth0 endpoint url? I will test it by postman.

[2019-05-22 19:49] damieng commented on #261
It's set to our tenant setup for the SDK management API team that our integration tests use.  It won't work for you without a valid api key for our tenant which I can't give out for security reasons.

Are you able to see what URL your test is hitting and try that in postman?

[2019-05-22 19:53] belizar commented on #261
I tried it again with other APIs and now none works, I think the problem is I use a not valid api key. I will check it.

Thank you for your quickly response.

[2019-05-22 20:53] #263 closed

[2019-05-23 09:22] robert-mccausland commented on #263
Thanks for the quick response to this guys 👍

[2019-05-23 20:58] damieng commented on #263
Shipped now in 6.2.0

[2019-05-23 20:59] damieng commented on #261
Closing issue, re-open/respond if it turns out not to be a key problem.

[2019-05-23 20:59] #261 closed

[2019-06-14 21:36] BrianMikinski commented on #250
@damieng

I'm encountering the same issue as @carusology in regards to unit testing. In scenarios 1-3, I don't really have any problem with breaking changes when I bump my major version - in fact I expect that to happen in those scenarios. I regards to the 4th example, I still don't have any issues with breaking changes but having an API that matches the IClient interfaces greases the wheels when

[2019-07-18 08:45] AndrewStratigos opened #270 "Get Guardian Enrollments"
Hi Auth0,
   I noticed that the "GetEnrollments" method is missing on this .Net client.
   There was a an [issue ](https://github.com/auth0/auth0.net/issues/163)raised about this, and was closed March 2019. I think its still outstanding.

   I believe this method might have been overlooked (because its a guardian method on the user)
       [/api/v2/users/{id}/enrollments](https://auth0.com/docs/ap

[2019-07-18 22:22] rcollipi opened #271 "Typing mismatch in TenantSettingsBase IdleSessionLifetime and SessionLifetime properties"
### Description

The TenantSettingsBase class stores IdleSessionLifetime and Sessionlifetime as nullable ints -- and these values are set in minutes in the management site. When calling TenantSettings.GetAsync(), the values are returned as hours, and as a result I am receiving 0.25 for IdleSessionLifetime when the IdleSessionLifetime is set to 15 minutes. Naturally attempting to deserialize a floa

[2019-07-19 04:48] damieng commented on #251
The Groups endpoint is no longer available so this would not make sense to add.

[2019-07-19 04:48] #251 closed

[2019-07-19 04:56] damieng commented on #250
As I have said before I'm up for introducing interfaces on a more granular level.  i.e. having a IUsersClient is a no-go as it has 18 methods however we could have an IUserRolesClient, IUserLinkingClient, IUserPermissionsClient, IUserReadClient and IUserWriteClient for example.

This way at least as we introduce new blocks of functionality nothing would break as they would likely come under a new

[2019-07-19 18:08] damieng commented on #270
Looks like InvalidateRememberBrowserAsync and GenerateRecoveryCode were also missing.  I have a PR up for it now.

[2019-07-21 22:47] sandromastronardi opened #274 "It's not possible to pass the IP of the computer doing the signup when going trough our own API"
### Description

When adding users trough the API they are reported as coming from:
IP: 127.0.0.1
N/A or Internal Network

When looking trough the code I noticed it's possible to add headers to the ApiConnection but it's internal in the ClientBase... if it were public then we would be able to add custom headers here... because when we would add the "auth0-forwarded-for" header with the IP address

[2019-07-21 22:56] sandromastronardi commented on #274
Oh, and to be complete... Using HttpClientHandler isn't going to work, since I need to reuse my HttpClient and that can only be provided in the constructor so I would have to make a HttpClient for each request...

HttpClient reuse is recommended for scaling purposes, and since I'm working on Azure Functions it is important... https://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

It is ac

[2019-07-22 00:53] damieng commented on #274
What do you think is wrong with the default behavior?  You create a ManagementApiClient and it creates an ApiConnection by default which creates a single HttpClient by default used to handle all the requests.

i.e. one HttpClient for the lifetime of all ManagementApiClient.

[2019-07-22 00:59] damieng commented on #274
The lack of auth0-forwarded-for support is a problem tho.  Looking at how it could be retrofitted.

[2019-07-22 09:50] sandromastronardi commented on #274
Ok, good point, then I'd have to keep the ManagementApiClient static instead... but yeah, the extra header is still an issue :-) and is there also a header for user agent? maybe that would also be nice to have added... then that is visible too from the start....

[2019-07-22 16:18] #270 closed

[2019-07-22 19:25] #271 closed

[2019-07-25 15:26] celluj34 commented on #227
So then how do I programmatically verify a user's one time password?

[2019-07-29 19:04] damieng commented on #227
I believe the recommended course of action is to use the universal login page.  Auth0 support should be able to supply more guidance if you reach out to them.

[2019-07-30 11:31] Tvel opened #276 "LastLogin is not optional"
Hi

### Description

In the management Api docs for `Users` ->`last_login` is optional but in Auth0.net `User.LastLogin` is `DateTime` resulting in `default(DateTime)` when value is null.

### Environment

Please provide the following:

- Version of Auth0.NET used: 6.4
- Version of .NET used: Core 2.1

[2019-07-31 21:35] #276 closed

[2019-08-06 05:52] dlemstra commented on #207
It is now again recommended to make create strong named open-source libraries:
- https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/strong-name-signing.md
- https://docs.microsoft.com/nl-nl/dotnet/standard/library-guidance/strong-naming
- https://www.youtube.com/watch?v=hLFyycJVo0I&feature=youtu.be&t=1470

I can create a PR for this if you would want some help with this.

[2019-08-07 17:34] benprime opened #280 "ManagementApiClient does not implement an interface"
### Description

ManagementApiClient does not implement an interface and therefore is difficult to mock when unit testing code that utilizes it.

AuthenticationApiClient implements an interface, but ManagementApiClient does not.

### Prerequisites

- [x] I have checked the [documentation for this library](https://auth0.github.io/auth0.net/).

- [x] I have checked the [Auth0 Community](https://comm

[2019-08-07 20:27] damieng commented on #280
Duplicate of #250

[2019-08-07 20:27] #280 closed

[2019-08-07 20:29] damieng commented on #274
So while looking into this it turns out that the auth0-forwarded-for header only applies to the password and password-realm authentication calls.

https://github.com/auth0/node-auth0/pull/401

[2019-08-11 07:53] dlemstra commented on #262
I don't have any experience with this library so I could be wrong but it looks like you are setting the scope instead of a query parameter. I think you should do this instead:

[code]

[2019-08-11 07:59] dlemstra commented on #252
Have you tried allowing anonymous access to `/Dash/Auth/Google` ? I think you need to do that to make it possible to do the `POST` there:

[code]

[2019-08-11 08:06] dlemstra commented on #207
Could you take a look at this @luisrudge?

[2019-08-13 01:26] luisrudge commented on #207
@dlemstra we'll have to wait @damieng on this one. He's on vacation this week and will take a look on this next week.

[2019-08-14 19:41] #207 closed

[2019-08-15 10:43] cypressious opened #282 "Pagination is ignored for RolesClient.GetUsersAsync & GetPermissionsAsync"
### Description

The pagination parameters in `RolesClient.GetUsersAsync` and `RolesClient.GetPermissionsAsync` are ignored.

### Prerequisites

- [X] I have checked the [documentation for this library](https://auth0.github.io/auth0.net/).

- [X] I have checked the [Auth0 Community](https://community.auth0.com/) for related posts.

- [X ] I have checked for related or duplicate [Issues](https://gi

[2019-08-16 07:10] #282 closed

[2019-08-16 07:29] cypressious commented on #282
@damieng any idea when we can see this in a releae? A project of mine is blocked by this.

[2019-08-16 07:35] damieng commented on #274
Closing as this isn't possible today although we could add IP forwarding to the two authentication requests that accept it if somebody requests that on a separate PR.

If you want forwarder support for sign-up specifically I would recommend reaching out to your Auth0 support contacts to start the discussion there about what options and possibilities are available.

[2019-08-16 07:35] #274 closed

[2019-08-16 07:53] damieng commented on #282
Aiming for Monday theres a few things to test and validate.

On Fri, Aug 16, 2019, 8:29 AM Kirill Rakhman <notifications@github.com>
wrote:

[2019-08-16 07:54] cypressious commented on #282
Awesome, thanks

[2019-08-16 14:29] sandromastronardi commented on #274
Ok, that is a dissapointing resolution... It not being possible IS the reason for this issue... The API supports it... :-(

[2019-08-16 14:31] mohit0316 opened #284 "Auth0.ManagementAPI Nuget: UserClient GetPermissionsAsync call does not return paging information"
### Description

The call to `Users.GetPermissionsAsync` is returning the correct results, but is missing the paging information in the response. The Paging object on the `IPagedList<T>` is coming back as `null`. I have tested this in versions **6.2.0, 6.3.0 and the latest 6.4.0** of the `Auth0.ManagementApi` nuget package. Because of the missing information about pagination, we are unable to disp

[2019-08-16 19:52] damieng commented on #274
The signup API on the server does not recognize auth0-forwarded-for.  It is only recognized on two authentication calls noted at https://github.com/auth0/auth0.net/issues/274

If you have information that contradicts that please post it here.

[2019-08-19 03:09] damieng commented on #284
Duplicate of  #282

[2019-08-19 03:17] mohit0316 commented on #284
@damieng Please note if you're closing this as a duplicate - The problem I was referring to is in the `UserClient` GetPermissionsAsync. The issue you referenced above is for RolesClient they are two different endpoints I think. Thanks.

[2019-08-19 03:20] damieng commented on #284
Sorry, you're absolutely right. Both RolesClient and UsersClient have a GetPermissionsAsync.  Fix is likely the same but will require a PR.  Reopened.

[2019-08-19 09:35] damieng commented on #284
Thanks, will go out in the next release shortly.

[2019-08-19 09:35] #284 closed

[2019-08-21 16:15] mohit0316 commented on #284
@damieng The latest version 6.5.0 is returning `null` for `UsersClient.GetUserPermissionsAsync` altogether now, let alone `Paging`. Seems a problem on the API side the client seems to be sending the request correctly.

[2019-08-21 16:25] damieng commented on #284
Thanks, I'll investigate further and raise any necessary escalation with the correct server team.

[2019-08-21 16:30] damieng commented on #284
Hmm, the server side appears to be working correctly for me.  I'll dig into what's gone awry in the client later today.

[2019-08-21 17:01] damieng commented on #284
https://github.com/auth0/auth0.net/pull/287

[2019-08-21 17:03] mohit0316 commented on #284
Thanks @damieng i noticed the issue just now too it was being returned in the wrong property.

[2019-08-23 07:34] AndrewStratigos opened #289 "GetEnrollments"
Hi Auth0,
        I am getting an error on the newly implemented route /api/v2/users/{id}/enrollments.

ApiException: Path validation error: Object didn't pass validation for format user-id: {id} on property id (The user_id of the user to retrieve).

I believe there is a typo in the method:
`/// <summary>
        /// Get a list of Guardian enrollments.
        /// </summary>
        /// <param nam

[2019-08-27 06:02] jamesgoldswain opened #292 "Setting the client id for the verification email"
According to the documentation the verification email request should be able to handle a "client_id" in a request:
https://auth0.com/docs/api/management/v2#!/Jobs/post_verification_email

However in
https://github.com/auth0/auth0.net/blob/f676441b5915923221e963b08715eae207cc3beb/src/Auth0.ManagementApi/Models/VerifyEmailJobRequest.cs#L17

There is no property available for setting this in the requ

[2019-08-28 14:42] jamesgoldswain commented on #292
Sounds good, I'll get onto that thanks!

[2019-08-30 01:46] williamdenton opened #293 "JWT Tokens unable to validate - Invalid KID"
### Description

`Auth0.AuthenticationApi` references `Microsoft.IdentityModel.Protocols.OpenIdConnect v5.4.0` that shipped with a change to the way `kid` is calculated.

Adding the nuget `Auth0.AuthenticationApi v6.5.2` to any existing service running `AspNet.Security.OpenIdConnect.Server v2.0.0` will perform an implicit upgrade on `Microsoft.IdentityModel.Protocols.OpenIdConnect` which changes t

[2019-08-30 02:35] williamdenton commented on #293
this is the issue in `Microsoft.IdentityModel.Protocols.OpenIdConnect ` where the `kid` issue was resolved https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/1108

[2019-08-30 02:36] damieng commented on #293
Unfortunately trying to upgrade to 5.5 of that library gives conflict
erroea with .net standard library. :(

On Thu, Aug 29, 2019, 7:35 PM William Denton <notifications@github.com>
wrote:

[2019-08-30 02:46] williamdenton commented on #293
Hi @damieng (thanks for the super fast response)

Just pulled your repo - strange, i see errors to when upgrading to 5.5/
[code]

however downgrading to `5.3` works.

However critically here is that the javascript library gets updated. If that was updated this wouldn't be such a big problem

[2019-08-30 23:16] damieng commented on #293
Should be fixed in the upcoming release (tentantively Monday).

[2019-08-30 23:16] #293 closed

[2019-08-30 23:17] damieng commented on #292
Looking at getting a release out very soon - do you still want to do this or should I go ahead?

[2019-08-31 02:39] #292 closed

[2019-08-31 02:40] #183 closed

[2019-09-03 04:21] damieng opened #300 "System.IdentityModel.Tokens.Jwt dependency unintended breaking change"
This note only applies if you use System.IdentityModel.Tokens.Jwt to generate tokens yourself in your application as well as using our Auth0.NET Authentication SDK.

Version 6.0.0 of Auth0.NET updated its dependency of System.IdentityModel.Tokens.Jwt from 6.2.4 to 6.4.0. Unknown to - us or indeed to Microsoft at that time - 6.4.0 included a [breaking change in the way it generated tokens](https://

[2019-09-03 04:21] #300 closed

[2019-10-02 16:58] stephenstroud opened #304 "SignupUserResponse object incorrectly passes user id."
Calling HTTP POST to - /dbconnections/signup

Returns
[code]

https://github.com/auth0/auth0.net/blob/1543db7205f5df8e367121cb5b373a4ef85f7a72/src/Auth0.AuthenticationApi/AuthenticationApiClient.cs#L374

Trying to deserialize using:

https://github.com/auth0/auth0.net/blob/1543db7205f5df8e367121cb5b373a4ef85f7a72/src/Auth0.AuthenticationApi/Models/SignupUserResponse.cs#L26

API authentication doc

[2019-10-03 15:51] damieng commented on #304
It's possible the API has moved on from the original definition although I'm not sure what happened to the `_id` name.

[2019-10-04 04:13] damieng commented on #304
It looks like the API actually changed back in 2016 but nobody has noticed it is broken here, in the docs and in our Java API (our other management APIs return dynamic types).

[2019-10-08 07:57] esbenbach commented on #250
I am also encountering this, and for my part I would actually have been happy if the UsersClient and ManagementApiClient would take in IApiConnection in the ctor, and make all the public methods virtual.

I would prefer interfaces, but lacking that if I can stub/mock the implementations that is "good enough", right now, I can't so I have to do as @carusology and introduce interfaces and wrapper cl

[2019-10-09 13:44] stephenstroud commented on #304
@damieng Will the .Net client be updated soon to reflect this issue?

[2019-10-09 14:51] damieng commented on #304
I've been doing some more investigating and am able to get `_id` back... I'm working with internal teams to figure out why you can get different id results and under what circumstances.

[2019-10-14 02:45] dandenton commented on #250
@damieng I'm not sure I understand the reasoning for not wanting an IManagementApi and the comment about a new endpoint being a breaking change.  As long as an existing endpoint isn't removed or modified how does adding a new method on the interface constitute a breaking change?  Even adding a new I*Client with an associated property on IManagementApi wouldn't be a breaking change since no one wou

[2019-10-14 03:11] damieng commented on #250
It is impossible for us to add any new endpoint with the old `IXClient` and `IManagementApi` interfaces without breaking changes that stop your app compiling with the new version. Either:

1. We add an endpoint to an existing `IxxxClient` interface and you had already implemented that interface.  Now your app won't compile because you don't implement that new interface method we added.

2. We add

[2019-10-14 04:08] robertmclaws commented on #250
One option might be to use the new Default Interface implementation in C# 8.0 to add default implementations when new interfaces are added. AFAIK that doesn't break existing users because there is code to backstop the interface.

[2019-10-14 04:43] damieng commented on #250
Hey Robert.

I did consider default implementations but there isn't any kind of default that would make sense on the IxxxClient interfaces - each one is literally a completely different operation.

I think the IApiConnection abstraction works particularly well for mocking as you can just create an IApiConnection mock/stub that returns whatever result your unit test was hoping for.

I could actuall

[2019-10-29 04:43] yannlairdc commented on #250
You do realise that has of now, If I want to mock something like `managementClient.Users.GetUsersByEmailAsync(xxx)` it is impossible? Unless I missed something of course, but I have look at the implementation of the ManagementApiClient and can't find a solution.

No interfaces or parameter-less constructors  => No mocking possible -> Can't unit test code using the managementApiClient.
This is kind

[2019-11-16 08:55] #262 closed

[2019-11-16 08:55] #252 closed

[2019-11-17 13:27] stephenstroud commented on #304
@damieng Any update?

[2019-11-17 13:32] stephenstroud opened #316 "Testable - Concrete type ManagementApiClient"
I want to unit test method scopes using ManagementApiClient, however, this isn't possible. Please introduce virtual so I can fake the class?

[2019-11-17 16:34] damieng commented on #316
We have a PR open to help testing at #314 that will let you wire up an alternative connection for simple mocking/stubbing.

[2019-11-21 21:11] filiptesar opened #322 "EnrollmentAuthMethod enum contains invalid option "authnetication" instead of "authenticator""
### Description

Management API EnrollmentsResponse  cannot be parsed because of invalid value in enum EnrollmentAuthMethod. It contains "authentication" instead of "authenticator".

See https://auth0.com/docs/api/management/v2/#!/Users/get_enrollments:
auth_method string (optional) Enrollment type
["authenticator" or "guardian" or "sms"]

### Reproduction

1. Enable MFA with OTP option and let us

[2019-11-22 15:47] jtbruch-fixdrepair commented on #316
@damieng looks like that PR was closed, is there a different PR that is going to make it in instead?  I am running into the same issue.

[2019-11-22 15:52] damieng commented on #316
The first one for the testability of auth is at #321 - there will be an almost identical one for management later today!

Basically you will be able to mock out the whole of the management API by just implementing an interface that has two methods - one for handling get request and another for other http requests.

[2019-11-22 15:53] jtbruch-fixdrepair commented on #316
Beautiful! Thank you so much for the quick response :) @damieng

[2019-11-22 23:33] #322 closed

[2019-11-25 16:12] jtbruch-fixdrepair commented on #316
@damieng thank you so much for your work on getting this testable for the group! Quick question, I saw you tagged this 7.0.0, what is your plan for releasing all this great work? :)

[2019-11-25 22:23] damieng commented on #304
I haven't had cycles yet to determine what id is returned under what circumstances yet as I'm heads down on the 7.0.0 release. Will let you know if/when I have more information.

[2019-11-25 22:25] damieng commented on #316
We don't give firm timelines out for SDK release dates as they tend to happen when they're ready.  That said this is my top priority right now and the only remaining work is this + a tying in the symmetric id token validation.

[2019-11-25 22:28] jtbruch-fixdrepair commented on #316
Sounds good.

[2019-11-27 23:15] damieng commented on #250
Merged in, will ship in 7.0.0 - docs on how to use it will be in the migration guide.

[2019-11-27 23:15] #250 closed

[2019-11-27 23:15] damieng commented on #316
Merged in, will ship in 7.0.0 - docs on how to use it will be in the migration guide.

[2019-11-27 23:15] #316 closed

[2019-11-27 23:20] stephenstroud commented on #316
Great!

[2019-11-29 00:27] damieng opened #343 "Cache JWKS retrieval for JWKS AsymmetricSignatureVerifier"
The `AsymmetricSignatureVerifier` does not currently cache the JWKS keys or endpoint/discovery which could cause performance regressions in a server environment and even slow down individual login attempts.

In order to cache this successfully the following should be considered:

- Where the cache lives
- How long the cache is valid for
- How to eject the cache if the kid is missing in case of sig

[2019-11-29 00:28] damieng opened #344 "Migration guide for 7.0.0"
Many breaking changes have happened in 7.0.0 - we need a migration guide to help developers migrate to the new version detailing any necessary tweaks they will need to make to adopt it and how to take advantage of the new features.

[2019-12-03 14:43] jtbruch-fixdrepair commented on #344
@damieng thank you so much for all the great work you have done on this.  Our team has *just* started integrating Auth0 into our platform, and I was wondering if this would be an opportunity for us to help each other out in terms of documentation.  Feel free to completely shoot down, and I am not entirely sure of Auth0's policy on this.

I was wondering if it would be possible to do an `7.0.0-earl

[2019-12-03 17:56] damieng commented on #344
I did consider putting out a 7.0.0-beta1 given the number of changes in this release but wasn't sure if enough people would try it or even see it exists given the nuget defaults of hiding pre-release versions.

If you're willing to give it a try I'm willing to publish it ahead of the migration guide.  I'd also love any feedback or confusion on adopting it.

There's one more piece of work to go in

[2019-12-03 18:08] jtbruch-fixdrepair commented on #344
That would be great if you wanted to do that.  I would absolutely give any feedback/confusion about it.

[2019-12-03 20:57] dandenton commented on #344
I'll try the beta once you have it the nuget up.  We're mostly doing user/role management through the API and it'd be good to see the interface changes for our unit tests too.

[2019-12-05 23:20] damieng commented on #343
Fixed in #347

[2019-12-05 23:20] #343 closed

[2019-12-06 12:52] filiptesar commented on #322
Hi, when can I expect the fix to be released?

[2019-12-06 16:17] damieng commented on #304
The rule is that _id is returned when using a standard connection and user_id when using a custom connection. We should add both properties to the deserialized response class with appropriate comments.

[2019-12-06 19:15] stephenstroud commented on #304
Sounds good, I did the same deserialised tactic with a null check in a wrapper class.

[2019-12-06 21:13] #304 closed

[2019-12-06 22:56] damieng commented on #322
Given that the upcoming 7.0.0 release has breaking changes and will be in beta for a week we've gone ahead and published 6.5.5 that includes this fix.  It should be available no NuGet now.

[2019-12-06 22:56] damieng commented on #304
Given that the upcoming 7.0.0 release has breaking changes and will be in beta for a week we've gone ahead and published 6.5.5 that includes this fix.  It should be available no NuGet now.

[2019-12-06 23:37] stephenstroud commented on #304
awesome

On Fri, Dec 6, 2019 at 10:56 PM Damien Guard <notifications@github.com>
wrote:

[2020-01-20 21:05] jesse10581 opened #360 "Users.GetAllAsync does not return UserMetadata"
Hi, I just started using the Auth0 management API and figured I would start with your library. I am having an issue with missing field data.

I am executing Users.GetAllAsync(...) with no field filters and a page num 0 and page size 100. I am able to see the list of users, but the UserMetadata is always null.

If I send a request directly to the API using postman, I see the user_metadata filled in

[2020-01-20 21:06] jesse10581 commented on #360
Hi, I just started using the Auth0 management API and figured I would start with your library.  I am executing Users.GetAllAsync(...) with a page num 0 and page size 100.  I am able to see the list of users, but the UserMetadata is always null.

If I send a request directly to the API using postman, I see the user_metadata filled in.  I think there might be a problem in the PagedListConverter.  Fo

[2020-01-20 22:01] damieng commented on #360
I just tried a quick test where I added a call to GetAllAsync from our integration test that adds metadata and could not reproduce this problem.

Additional line and debugger showing fully populated UserMetadata using only a sort to make sure I get the most recent user added from the test:

![image](https://user-images.githubusercontent.com/118951/72760341-49a1f600-3b8d-11ea-8e6e-9acbe13acbec.png)

[2020-01-20 22:08] jesse10581 commented on #360
Was this using the current version of the Nuget package (5.6.5)?  Also I
should have mentioned I am using .Net core 3.1.

On Mon, Jan 20, 2020, 5:01 PM Damien Guard <notifications@github.com> wrote:

[2020-01-20 22:11] damieng commented on #360
I tried it using both beta 7 and the latest non-beta which is 6.5.6.  These tests run in .NET Core 2.0 so I just tried again with the test project set to .NET Core 3.1 and saw the same correct behavior.

[2020-01-20 22:13] jesse10581 commented on #360
Ok thank you for looking.  I'll pull the source down and try debugging
myself.  The other fields come thru just fine, which is strange.

On Mon, Jan 20, 2020, 5:11 PM Damien Guard <notifications@github.com> wrote:

[2020-01-20 22:15] damieng commented on #360
If you can create a minimal repro - like a console app - that shows it I can try that here.

[2020-01-20 22:17] jesse10581 commented on #360
Will do.  I'll get back to you.

On Mon, Jan 20, 2020, 5:15 PM Damien Guard <notifications@github.com> wrote:

[2020-01-21 16:06] jesse10581 commented on #360
I figured out the problem.  It was my fault. My fields in user_metadata that had underscores, i.e. first_name, last_name (as I am not sure how you would store those things at the root user level, but that’s another topic for another day).  Anyway, I had assumed at first that since first_name and last_name are deserialized into FirstName and LastName, that those fields would be deserialized as User

[2020-01-21 17:45] #360 closed

[2020-01-23 17:43] dandenton opened #361 "Include additional fields on Connection model"
The Connection model on the Management API is missing a few fields that are available in the API.

- display_name
- realms
- is_domain_connection

Can we get them added to the model please?

[2020-01-30 01:30] damieng commented on #344
Fixed in #362

[2020-01-30 01:30] #344 closed

[2020-01-30 16:15] #361 closed

[2020-02-05 16:00] mattgrande opened #366 "System.ObjectDisposedException when trying to fetch users in 7.0"
### Description

I am currently unable to fetch users via the Management API; I get a `System.ObjectDisposedException`, even though the object should not have been disposed.

This is a new application that is using v7.0; Downgrading to 6.5.6 solves the issue. Therefore, I believe this is a regression.

Please note that I originally assume this was my issue, and created a thread on community.auth0.

[2020-02-05 16:18] damieng commented on #366
I just tried the following fragment and it worked fine

[code]

At a guess I would suspect that your GetManagementApi function is returning a shared instance of ManagementApiClient?

[2020-02-05 16:24] damieng commented on #366
Also tried your two functions inside a unit test and it also passed.  Confused how this is going wrong.

[2020-02-05 16:56] mattgrande commented on #366
Hm, very strange. Is your `managementApiUrl` a string, or Uri object? Looking at the code, I don't _think_ that would make a difference, but I'm just spitballing...

[2020-02-05 17:06] damieng commented on #366
It was a string, I just wrapped it in a `new Uri` and it didn't fail.

What kind of appliction are you developing?  It this UWP, WPF, ASP.NET?...

[2020-02-05 17:14] mattgrande commented on #366
ASP.Net

[2020-02-05 17:28] damieng commented on #366
To get unblocked for now until we figure this out I'd recommend following the guidance at https://auth0.github.io/auth0.net/#client-reuse-and-thread-safety which lets you register a single HttpClientManagementConnection that is shared between ManagementApiClients.  That way you no longer need to use Dispose/`using` statements at all and actually get better performance as the HttpClient is shared/p

[2020-02-05 17:39] mattgrande commented on #366
Okay, for the time being I've downgraded to the old version, but at some point in the next day or two, I'll try doing it that way.

Thanks for your help thus far! 👍

[2020-02-11 13:59] mark-dispatch commented on #366
For what it's worth, I'm getting the same error calling `Clients.GetAsync()` with the v7.0 library and .NET Framework 4.7.2.

[2020-02-11 22:43] humayun-ahmed commented on #366
Yes v7.0 works for .Net core application but for .Net framework, it doesn't work.

If you look over the code, SendRequest is a task and after that using statements ends which actually disposing the request. After dispose of request, task SendRequest executes where request object is needed for "var response = await httpClient.SendAsync(request).ConfigureAwait(false);"

using (var request = new Http

[2020-02-12 04:38] damieng commented on #366
Additional fix on #368

[2020-02-12 05:45] damieng commented on #366
Fix has been released in 7.0.1 now available on NuGet.

[2020-02-12 05:45] #366 closed

[2020-02-12 14:24] mattgrande commented on #366
Thank you, everyone!

[2020-02-17 15:36] robdavey555 opened #370 "Ability to SetUri after client has been initialised"
I would like the ability to switch baseUri once AuthenticationApiClient has been instantiated. We have a service that deals with multiple auth0 tennents and need the service to be able to switch between these tenants.

**Proposed solution**

Remove readonly from `Uri tokenUri;` variable

Add method to update baseUri
[code]

[2020-02-17 15:53] damieng commented on #370
ASP.NET is highly multi-threaded and we have designed these classes so instances can be shared between threads.

Adding a settable Uri would break `AuthenticationApiClient`'s thread-safety. Consider the scenario:

a. Thread A sets baseUri to https://sitea.com
b. Thread B sets baseUri to https://siteb.com
c. Thread A performs it's operations and inadvertently uses siteb.com

`AuthenticationApiClien

[2020-02-18 16:19] robdavey555 commented on #370
@damieng That all makes sense. Thanks for the quick reply,

[2020-02-18 16:19] #370 closed

[2020-02-26 15:34] asoltys1 opened #372 "Id token is validated even if it's not requested"
Hi,
I faced an issue with the following steps to reproduce
1) Requesting a token via resource owner password flow ( _AuthenticationApiClient.GetTokenAsync( ResourceOwnerTokenRequest request)_ )
2) scope param doesn't contain 'openid'

It causes the IdTokenValidationException("ID token is required but missing.") to be thrown because  id token is checked for presence.But I think you shouldn't do thi

[2020-02-26 20:38] damieng commented on #372
Hi.

Version 7 of this library now requires ID tokens to always be present and so `openid` scope should always be requested. This is part of our on-going OpenID Compliant efforts.

It would seem that the release notes did not call this out - my apologies for that.

[2020-02-26 20:38] #372 closed

[2020-03-06 17:38] cecilyth opened #373 "ConfigureAwait(false) needed in Auth0.ManagementApi.HttpClientManagementConnection"
### Description

Calling methods on the ManagementApiClient resulted in deadlock because of missing .ConfigureAwait(false).

I was able to fix the issue by adding the ConfigureAwait(false), I'm happy to open a pull request if desired.

### Environment

Latest nuget version, WPF service stack application.

[2020-03-06 18:31] damieng commented on #373
You're right! I see two missing ones - GetAsync and SendAsync.  I can either add them or accept a PR - also would be needed on HttpClientAuthenticationConnection.

[2020-03-06 20:38] cecilyth commented on #373
Great! If it's easy for you to add them quickly then that works for me! Thanks so much!

[2020-03-17 07:57] drjaydenm opened #376 "Handling mfa_required for oauth/token endpoint"
Hi there, when fetching an access token via the `oauth/token` endpoint, if you get an `mfa_required` error, there is no way to retrieve the `mfa_token` field from the `ApiException` that is thrown.

I can see this issue was solved with the Java SDK, https://github.com/auth0/auth0-java/issues/119
Would it be possible to pass back the `mfa_token` either as a property on this exception, or perhaps as

[2020-03-20 21:15] WesleySSmith opened #377 "Calling ResourceServers.GetAsync returns Not Found when identifier is a URL"
### Description

I'm trying to fetch the definition of an API (ResourceServer) that has an Identifier of `https://example.com/example` But if I pass that identifier then I get a `Auth0.Core.Exceptions.ErrorApiException: Not Found` response.

### Reproduction

1. Create an API with a URL as the Identifier, such as "https://example.com/example".   (URLs are the suggested format for API Identifiers)

[2020-03-20 22:08] WesleySSmith commented on #377
Code inspection shows same problem would occur in DeleteAsync, and UpdateAsync as well.  And maybe other clients as well?

[2020-03-20 22:17] damieng commented on #377
yeah, applying the fix broadly.

[2020-03-21 00:14] damieng commented on #373
Fixed in 7.0.2

[2020-03-21 00:14] #373 closed

[2020-03-24 00:32] #377 closed

[2020-03-25 02:23] WesleySSmith commented on #377
@damieng In the commit referenced, it looks like Uri.EscapeUriString was used, but in my experience, that doesn't do what you want.  Uri.EscapeDataString is the right one to use.

[2020-03-25 03:33] damieng commented on #377
You're totally right and I was missing the test coverage that would indicate that.  Addressed in #379

[2020-03-25 23:33] drjaydenm commented on #376
Hi @damieng, we are looking at building out our solution for MFA in the next couple of days, do you think this functionality would be ready in this SDK by then? If not, we will look at rolling our own solution using `HttpClient` directly. Thanks

[2020-03-26 05:46] damieng commented on #376
This should be doable as a short-term fix by adding a Dictionary to the ApiError to obtain the extra parameters. I'll look into what's involved in changing the deserializer.

[2020-03-26 06:13] drjaydenm commented on #376
I was thinking along those lines as well, perhaps a `Dictionary<string, string>` with the `[JsonExtensionData]` attribute applied which should pickup any un-mapped values automatically

[2020-03-30 17:33] #376 closed

[2020-03-30 18:49] damieng commented on #376
Shipped in 7.0.3. You can now use `apiData.ExtraData["mfa_required"]`

[2020-03-31 10:16] mikkel-busch opened #382 "Unexpected Exception type"
### Description
The Api returns an unexpected exception type when rate limit is reached.

### Reproduction
The following program is expected to output "rate limit reached" if given correct Url and Token but the exception is of type ```Auth0.Core.Exceptions.ErrorApiException```.

[code]
With the following csproj file:
[code]

### Conclusion
Either return correct exception type or give some way to a

[2020-04-01 16:19] #382 closed

[2020-04-02 12:53] drjaydenm commented on #376
Thanks @damieng, it's working great

[2020-04-02 18:39] scottyb86 opened #386 "UserBlocks.GetByUserIdAsync is returning blocks for users with a duplicate username in the same tenant"
### Description

When fetching the user blocks for a specific user using their userid, GetByUserIdAsync is returning user blocks for a separate user with a duplicate username in the same tenant

### Reproduction
Note - these steps were all taken within a single tenant.

1. Create a user against Connection1. I used the username "doubleuser"

2. Create a second user against Connection 2, and use the

[2020-04-06 08:52] SychevIgor opened #387 "Update documentation how to run tests"
### Description
There are multiple configuration settings missed from readme.md file. Screenshot of start page
![image](https://user-images.githubusercontent.com/578954/78540306-a3b16f80-77fc-11ea-9697-885dada37eab.png)
In tests for example - missed following configs:
![image](https://user-images.githubusercontent.com/578954/78540325-aca24100-77fc-11ea-9700-2adf5edc98fb.png)
![image](https://user-

[2020-04-06 14:22] damieng commented on #387
The snippet defines the *format* not the explicit full list.

Really even having a full list would not help as to run the full integration tests you'd need 5 tenants with very specific configurations and some paid plans.

We run the integration tests locally before merging in PRs. It's not ideally but it's where we're at. What specifically are you looking to work on?

[2020-04-06 15:00] SychevIgor commented on #387
Maybe in this case- section about a way to run tests- could be removed? It's not answering on "how to contribute" and only confusing.

I've try to better understand the source code of an sdk to debug my own application and compare side by side- what my application send/receive and what samples send/receive.

[2020-04-09 21:07] mattbarry opened #389 "Support System.Text.Json"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-04-09 22:12] damieng commented on #389
This is unfortunately not possible at this time as System.Text.Json is not supported on .NET Framework 4.5.2 that we currently support.

We would need to drop support for everything prior to .NET Framework 4.7.2 for that migration to happen so we'd need to consider that for the next major based on current usage statistics for this library.

[2020-04-09 23:12] damieng commented on #389
I'm going to tag it to the next major so we can consider it then.

[2020-04-16 09:10] oliverjanik opened #390 "GetUserInfoAsync Newtonsoft.Json exception"
First time using auth0-net.

Nuget version: 7.0.4

This blew up on me today:
[code]

Stacktrace:
[code]

Here's my assessment:
1. You're de-serializing without specifing `JsonSerializerSettings` over here: https://github.com/auth0/auth0.net/blob/release-7.0.4/src/Auth0.AuthenticationApi/HttpClientAuthenticationConnection.cs#L92
2. Which means default settings kick in `JsonConvert.DefaultSettings`.

[2020-04-16 09:32] oliverjanik commented on #390
Alright here's a straight forward way to break your tests:

https://github.com/oliverjanik/auth0.net/commit/66d5acd27a56903fe9c485a821279692fbfcbca2

The solution here seems to be to provide your own deserialisation settings.

[2020-04-16 18:57] bradwilson commented on #390
Having static global defaults is a bad idea (regardless of library), and pushing on those static global defaults is going to break you with a lot of stuff, not just this library. I'd strongly recommend you, maybe don't? For your own sanity. 😉

(Outside observer's opinion)

[2020-04-16 19:17] damieng commented on #390
I have a PR open to fix this as I want to make sure we're not broken by global settings for JSON.Net.

I do think however by changing those global settings you're probably going to run into similar issues with other libraries that use JSON.Net.

System.Text.Json would be nice to adopt but it does mean dropping versions of .NET Framework we currently support (4.5.2) which would need to be scheduled

[2020-04-16 22:57] damieng commented on #386
I was able to reproduce this problem independently of this SDK using the REST endpoints directly - I'm reaching out to the team that owns user blocking for more details on how this should behave.

[2020-04-17 02:07] oliverjanik commented on #390
Your library is the first for me, thanks for fixing. Those global settings exist so that I can modify the to my hearts content. `DateParseHandling` default is a particularly dumb setting that is non standards compliant.

Regardless, users of your library might not have a choice or say in global settings imposed on them so thanks for fixing that.

My preference would be to completely dump the bloat

[2020-04-20 18:37] damieng commented on #390
Shipped in 7.0.5 now available on NuGet.

[2020-04-20 18:56] talouv opened #395 "Support Bulk User Exports Job via Auth0 Management API"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-04-21 13:03] mattgrande opened #396 "Case of email addresses should be normalized"
### Description

(Please note: I'm not sure if this is an issue with the Auth0.Net library, or with Auth0's infrastructure as a whole)

Due to legacy concerns in our codebase, it made more sense for us to "roll our own" Auth0 import. When the application goes online, it checks to see if each user is already within our Auth0 system and, if not, imports them. It worked great for almost every user.

[2020-04-22 04:33] oliverjanik commented on #390
I can still replicate with 7.0.5 was the fix shipped?

[2020-04-22 05:47] damieng commented on #390
It appears that the JsonSerializerSettings class although it looks like a plain object actually keeps track of which properties were set internally and JsonConvert.DefaultSettings gets called first and then the JsonSerializerSettings you supply gets applied over the top - only for the settings that you specifically set.

[2020-04-22 08:17] oliverjanik commented on #390
The plot thickens, can you reopen please?

[2020-04-23 09:14] oliverjanik opened #397 "GetUserInfoAsync Newtonsoft.Json exception 7.0.5"
#390 is closed but unresolved. Please reopen or use this issue.

Our client is a paying customer of Auth0. Would be great if we didn't have to resolve to hacks to or straight up HTTP calls to use this product. 👍

[2020-04-23 09:25] oliverjanik opened #398 "Missing call to fire change password email"
Using version 7.0.5

Hello, this page here describes a call that triggers Change password email: https://auth0.com/docs/connections/database/password-change#use-the-authentication-api

[code]

This endpoint does not seem to be covered by this library?

I found `Auth0.ManagementApi.Clients.TicketsClient.CreatePasswordChangeTicketAsync`, that however just generates a link, does not send an email.

[2020-04-23 14:42] damieng commented on #398
https://github.com/auth0/auth0.net/blob/b7d2d8e0b6034aed46f07f83b06adc62553fd4a7/src/Auth0.AuthenticationApi/AuthenticationApiClient.cs#L72 should be what you are looking for.

[2020-04-23 14:59] damieng opened #399 "Add support for Hooks to Management API"
As documented at https://auth0.com/docs/api/management/v2#!/Hooks/get_hooks

[2020-04-23 15:15] damieng commented on #396
Hi.

As an SDK-wide rule we do not modify the values passed to us before sending to the server or modify the data coming back. Instead the Management SDK acts merely as a strongly-typed conduit between the C# and the underlying REST endpoint.

[2020-04-23 15:17] #397 closed

[2020-04-23 15:22] damieng commented on #390
There is only so much we can do to avoid ill-advised global configuration changes on system-wide components.

We're going to manually specify DateParseHandling = DateParseHandling.DateTime to force the default setting back for JSON dates inside Auth0.NET but any further global configurations either on JSON.NET or other shared .NET components would be out of scope.

[2020-04-23 16:58] #390 closed

[2020-04-23 16:59] #396 closed

[2020-04-23 17:04] #387 closed

[2020-04-23 17:07] damieng commented on #386
Given that it's not SDK-specific and relates to another team the best course of action here is to file a support ticket at https://support.auth0.com/tickets so the correct team can continue the investigation for you.

[2020-04-23 17:07] #386 closed

[2020-04-23 20:37] damieng commented on #390
Now shipped in 7.0.6

[2020-04-24 01:03] oliverjanik commented on #390
Thank you very much. The real solution here would be to drop the obnoxious dependency.

[2020-04-27 14:13] Rocinante89 opened #404 "Remove Users From Role"
**Please do not report security vulnerabilities here**. The [Responsible Disclosure Program](https://auth0.com/whitehat) details the procedure for disclosing security issues.

**Thank you in advance for helping us to improve this library!** Your attention to detail here is greatly appreciated and will help us respond as quickly as possible. For general support or usage questions, use the [Auth0 Co

[2020-04-29 12:27] jmangelo commented on #386
Just for future reference and in the interest of transparency, the behavior of that endpoint although indeed very confusing is as originally designed.

In essence, that endpoint is merely a shortcut to get all blocks associated with the login identifiers of the specified user. For example, if user with `user_id: "auth0|x"` has `email: "john@example.com"` and `username: "john"` the endpoint will re

[2020-05-04 20:06] scottyb86 opened #405 "Add 'connection' property to the UserBlock class"
Hello,

Earlier I created the following issue: https://github.com/auth0/auth0.net/issues/386

I was then referred to the Auth0 support center, and created the following ticket there: https://support.auth0.com/tickets/00454344

After a little bit of back and forth and some testing the endpoints directly using postman, it was recommended that in order to further filter out these user blocks I should

[2020-05-08 16:21] stevehobbsdev commented on #405
Thanks for raising @scottyb86 - #406 has been raised and is going through our PR process now.

[2020-05-08 16:34] #405 closed

[2020-05-17 00:24] gregsdennis opened #408 "Removing individual metadata properties doesn't work"
### Description

The management API client doesn't allow removal of specific properties from metadata.

### Reproduction

[code]

### Environment

- **Version of this library used:** 7.0.4
- **Version of the platform or framework used, if applicable:** .Net Core 3.1

### Notes

Using Fiddler, I discovered that null properties aren't included during serialization.  So while I would expect the reque

[2020-06-01 23:59] sandromastronardi opened #409 "Device authentication flow in the AuthenticationApi"
### Describe the problem you'd like to have solved

The Device authentication flow is now not implemented in the Authentication API

### Describe the ideal solution

It would be nice if I didn't have to develop a custom implementation for that

## Alternatives and current work-arounds

I'm building my own but it would be nice to have it here...

[2020-06-02 00:02] sandromastronardi commented on #389
How about Utf8Json which is one of the fastest JSON parsers? (or allow developers to select their own?)

[2020-06-03 11:35] shri-aithal opened #410 "GetTokenAsync fails when using HS256 with a client secret containing an underscore"
### Description
I maintain a legacy ASP.NET WebForms application which uses Auth0. It has been using an old Auth0 .NET SDK library, which I'm upgrading to the latest version (v7.0.8)

After upgrading, the call to `GetTokenAsync` - to get tokens by exchanging authorization code - kept failing with error message IDX10503 - Signature Validation Failed.

I cloned the repo and stepped through the code

[2020-06-03 12:43] stevehobbsdev commented on #408
Hey @gregsdennis, apologies for the delay here. Just interested in the use case for sending `null` here for something like `propertyToRemove` - couldn't you consider the lack of existence of the property on the serialized object and `null` to be equivalent?

I'll look deeper into why that's occurring, just wondering if there's another way to unblock you in the meantime.

[2020-06-03 19:40] gregsdennis commented on #408
That would be fine, except that the API documents that for metadata is a PATCH operation, except that it doesn't actually use JSON Patch syntax.  It says that it works by merely merges results.  In such an operation, the absence of a property is ignored, whereas sending a `null` would be explicitly removing a property.

Ref: https://auth0.com/docs/users/guides/update-metadata-properties-with-manag

[2020-06-05 08:36] nickwilliams-codynamic commented on #408
Hit this myself recently. It would be really good if this could be 'fixed' as it is counter intuitive to the expected behaviour of auth0s PATCH. In the meantime, we did find a workaround. Haven't looked into why this works.

If `AppMetadata` is assigned to an `Expando` object rather than an annoymous object the null properties are sent in the HTTP request.

[code]

Body of request is then:

[code]

[2020-06-05 12:22] stevehobbsdev commented on #408
Thanks @nickwilliams-codynamic  - @gregsdennis would this workaround be acceptable in the meantime?

[2020-06-06 00:12] damieng commented on #408
I think that's basically a side-effect of how the JSON.NET serializer is working/configured.

In JS there's the option of undefined vs null to allow whether you're not setting data or you are specifically removing the value. In .NET we only have null so all the patch operations become somewhat more difficult.

One option would be to add property change tracking to the PATCH models and have that ho

[2020-06-08 12:31] highflying commented on #138
@jerriep I'm having the same problem - did you get anywhere with Auth0 on getting it working?

[2020-06-13 04:55] gregsdennis commented on #408
I'll try the `ExpandoObject`, but having to explicitly specify that type is strange since it's a "behind the scenes" type that's used to make `dynamic` work.

@damieng I think you're right about the JSON.Net serializer.  It can be configured to include null/default values.  This is the change that should take place.

[2020-06-13 04:56] gregsdennis commented on #408
Another option is to actually support [JSON Patch](http://jsonpatch.com/).

[2020-06-23 06:59] drjaydenm opened #411 "Issue specifying "upsert" for ImportUsersAsync"
### Description

When specifying the `upsert` parameter as `true` in the `ImportUsersAsync` method for the management API, it does not serialize correctly as Auth0 expects and instead comes out in the request as `True` (capital "T"). The Auth0 management API doesn't expect/handle this value and instead defaults `upsert` to `false`.

The only way we can bypass this at the moment seems to be not usi

[2020-06-23 14:32] damieng commented on #404
Unfortunately there is no server-side API available to perform this operation that the client can take advantage of.

As a workaround you can use `Users.RemoveRolesAsync` to remove one user from a role at a time.

[2020-06-23 15:36] Rocinante89 commented on #404
@damieng cheers, that should work nicely actually!

[2020-06-23 17:07] #411 closed

[2020-06-23 23:18] drjaydenm commented on #411
@damieng Thanks for fixing this so quickly, any chance we could get a new release of the library with this change in it?

[2020-06-24 00:25] damieng commented on #404
Great, thanks for letting me know!

[2020-06-24 00:25] #404 closed

[2020-06-24 19:41] #398 closed

[2020-06-24 21:47] lbalmaceda commented on #411
@drjaydenm should be ready in 7.0.9

[2020-06-24 21:49] drjaydenm commented on #411
@lbalmaceda Thanks for getting that release out, I appreciate it!